<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

For Simple viability analysis, expand the table to the Target level and then select the target that you want to work on.  Make sure the Viability Mode field is set to "Simple". 

<p>Next, select the Status side tab and then use the drop down box in the <strong>Target Viability Status</strong> field to assign a status rating for the target. This rating will appear at the top of the properties dialog, and will be displayed in the diagram as a small oval next to the target. You should also select the Details side tab and fill out the <strong>Current Status Justification</strong> field with any information about how you arrived at this rating.
</p>
<p>
Goals and indicators for this target will be identified and added later.
</p>