<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

Assigning one rating to represent the overall status of most conservation targets is a difficult task that involves making many assumptions. As a general rule, this rating process involves determining one or more attributes and/or indicators that represent the health of the target and then assessing the status of these indicators against a predetermined rating scale:

<ul>
<li><strong>Very Good - </strong>Ecologically desirable status; requires little intervention for maintenance.</li>
<li><strong>Good - </strong>Within acceptable range of variation; some intervention required for maintenance.</li>
<li><strong>Fair - </strong> Outside acceptable range of variation; requires human intervention.</li>
<li><strong>Poor - </strong>Restoration increasingly difficult; may result in extirpation of target. If your assessment of a target involves more than one attributes/indicators, then you need to combine these ratings to get an overall rating for the target.</li>
</ul>
</div>

