<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>
				       
Although key ecological attributes are specific descriptions of an aspect of a target, they are generally still too broad to measure or assess in a cost-effective manner over time. To this end, it is important to develop <i>indicators</i> that can be used to assess the attribute over time. An indicator, in simplest terms, is what you measure to keep track of the status of a key ecological attribute.

<P>In many cases an indicator can be the same as the attribute itself. For example, if your attribute is population size, the indicator may be the number of individuals in the population if you can count this number directly. If you cannot count this number directly, then your indicator will specify how you will measure this number - for example, for a fish population, as catch per unit effort using a specific technique at a given time of the year.</P>

<p>In other cases, however, developing a good indicator will require a bit more thinking to find a way of measuring the attribute over time. For example, if your attribute is the water quality of a stream, it is not possible to measure every physical and chemical parameter. Instead, you would select a few representative parameters - for example water temperature and oxygen levels - that you feel can represent the overall water quality. You can also combine several measurable properties into a composite indicator or index.</P>

<P>Indicators frequently involve some type of quantitative assessment - such as number of acres, recruitment rate, age class sizes, percent of cover, or frequency of fire of a given intensity. Other indicators may involve measurable elements that are not numeric, such as the seasonality of fire or flooding.</P>

