<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Continuing with the viability ratings table for your selected indicator, you can specify the thresholds for the&nbsp;other boxes in the rating table as desired.&nbsp;As you get more information, you can convert initial estimates into more specific&nbsp;values.

<p>For example, in the diagram below, for controlled burns on the grassland, the team fills out the following specifications of fire frequency:</P>
			<P>
				<IMG src="images/TargetViability/6a_indicator_rating2.png" border=0 width='558' height='232'>
			</P>

<P>You can use the <b>Details</b> field to record more specific information about each rating. You can also use the drop down button in the <strong>Rating Source</strong> field to describe where these ratings came from, and the <strong>Comments</strong> field to record any discussion about the ratings.</P>
