<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
            
Key ecological attributes and their associated indicators provide a way to assess the status of a target over time. But by themselves, they are not sufficient to determine the health of a given target. Instead, they need to be placed in an appropriate context or frame of reference. Just as a healthy person's pulse rate or blood pressure changes over the course of a day and over a lifetime, most key ecological attributes will vary over time. For example, the size of migratory fish population might go up and down on a year-to-year basis.</p>

<p>As shown in the figure below, however, there is a difference between a population size that is within the <i>acceptable range of variation</i> (ARV) and one that is outside this acceptable range. For some attributes, this acceptable range is one-sided (for example, it may be possible to have too little, but not too much of a particular kind of forest within a project area). For other attributes, the acceptable range is two-sided (for example, there can be too many or too few deer per hectare in the forest). In some cases, we may be able to precisely determine critical thresholds that clearly mark the boundary of this acceptable range, whereas in other cases we can only approximate where these thresholds might be. These thresholds, however, establish what you determine as the acceptable range of variation for your target.

<P>
<IMG height=295 alt="" hspace=10 src="images/TargetViability/5b_criticalthresh.png" width=402 align=right vspace=10 border=0></P>

<P>Once you have estimated the acceptable range of variation for an attribute, you can then go on to specify the viability rating scale. This scale involves establishing the following boundaries for an indicator based on your thresholds:</P>				<UL><LI><STRONG>Very Good</STRONG> - Ecologically desirable status; requires little intervention for maintenance. <LI><STRONG>Good</STRONG> - Indicator within acceptable range of variation; some intervention required for maintenance. 				  <LI><STRONG>Fair</STRONG> - Outside acceptable range of variation; requires human intervention. <LI><STRONG>Poor</STRONG> - Restoration increasingly difficult; may result in extirpation of target. 
	</LI></UL><P>In effect, by establishing this rating scale, you are specifying your assumption as to what constitutes a "conserved" target versus one that is in need of management intervention. This rating scale is directly analogous with the established pulse rate and blood pressure ranges that a doctor uses to determine whether a patient's circulatory system - and thus by extension the entire patient - is healthy. Although ideally you would define all four boxes of the rating scale, in many projects, you may find that you can only define one or two key boxes - for example the threshold between Fair and Good - especially in 		early stages of your work.</P> </div>