<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
    
<div class='navigation'>

<h3>Why Do Viability Analysis?</h3>
Viability analysis asks you to look at each of your conservation targets carefully to determine how to measure its &quot;health&quot; over time. And then to identify how the target is doing today and what a &quot;healthy state&quot; might look like. This step is the key to knowing which of your targets are most in need of immediate attention, and for measuring success over time.&nbsp;Click on the <code class='toolbarbutton'>&lt;More Info&gt;</code> button to get additional detail about viability analysis.<br><br>

<h3>Navigation Hints for the Target Viability View</h3>
The Viability Table will give you an overview of the viability status of each target. To <span class='task'>see details about a target or its attributes</span>, click the appropriate line on the table and the details will appear in the panel below.<br>

<p class='hint'><strong>Hint:</strong>  The <code class='toolbarbutton'>&lt;Expand To&gt;</code> button enables you to quickly expand or collapse the viability table to any level making it easy to get the view you want.</p>

<p class='hint'><strong>Hint:</strong>You can click in any table cell to edit the information and/or navigate to the appropriate lower panel.</p>
		         
<p></p>
<table width='100%'><tr><td align='center'>
<img src='images/TargetViability/nav_viability.png' width='500' height='386'></img>
</td></tr></table>
</div>
