<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<h3>Welcome to the Target Viability View</h3>

The target viability view provides an overview of the status of your conservation targets. You can either work on viability target by target from the diagram view, or you can use the tree in this view to see the viability status of all your targets together.

<p class='nextsteps'>If this is your first time doing viability analysis, click next&nbsp;to continue with the viability rating process.</p>

<p>If you have already gone through the Key Attribute-based viability analysis for one or more targets, you can select and edit the key ecological attribute and indicator information here.</p>
		
