<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

The next step is to develop&nbsp;<a href='Definition:ViabilityRatings' class='definition'>viability ratings</a> for each indicator.

<P>Select an indicator, and then the Viability Ratings side tab and then type in the <b>value range</b> field for the "good" rating what you think the minimum <a href='Definition:AcceptableRangeofVariation' class='definition'> acceptable range of variation</a> might be for that indicator.&nbsp;&nbsp;You can then also specify what might be in the "fair" value range.&nbsp;These ratings will then appear in the table at the top in the appropriate column.</p>

<p>For example, a project team might say that&nbsp;an indicator for a grassland target is the presence of regular fire events.&nbsp;They might lay out an initial estimate as follows:</P>

<P>
<IMG src="images/TargetViability/5a_indicator_rating1.png" border=0 width='559' height='233'></P>

<p class='hint'><strong>Hint:</strong> Developing indicator ratings is an adaptive process.&nbsp;You should not expect to immediately&nbsp;specify highly quantitative and precise thresholds.&nbsp;Instead, in your first pass through the table, you may only have qualitative assessments. Click the <code class='toolbarbutton'>&lt;Example&gt;</code> button to see in greater detail how this adaptive process develops over time.</P>
	