<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

At its most basic, a <i>Key Ecological Attribute</i> (KEA) is an aspect of a target's biology or ecology that if present, defines a healthy target and if missing or altered, would lead to the
outright loss or extreme degradation of that target over time. For example, a key attribute for a freshwater stream target might be some aspect of water chemistry. If the water chemistry becomes sufficiently degraded, then the stream target is no longer viable.

<p>Key ecological attributes can often be grouped into three types:
<ul><li><b>Size</b> is a measure of the area or abundance of the conservation target's occurrence.</li><br>
<li><b>Condition</b> is a measure of the biological composition, structure and biotic interactions that characterize the occurrence.</li><br>
<li><b>Landscape context</b> is an assessment of the target's environment including ecological processes and regimes that maintain the target occurrence such as flooding, fire regimes and many other kinds of natural disturbance, and connectivity such as species targets having access to habitats and resources or the ability to respond to environmental change through dispersal or migration.</li></ul>

<p class='hint'><b>Hint:</b> You do not need to have all three KEA types for a single target; in many cases it is sufficient to have only one KEA such as population size.</p>

       	
</div>
