<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

The&nbsp;next step is to determine the <a href='Definition:Measurement' class='definition'>measurement</a> for each indicator.

<P>Select an indicator in the table and then click the <code class='toolbarbutton'>&lt;Create Measurement&gt;</code> button. Next in the bottom panel, fill in the following fields:</P>

<ul>
<LI><STRONG>Measurement Date:</STRONG>&nbsp;The date of the most recent indicator measurement. 
<LI><STRONG>Measurement Value:</STRONG>&nbsp;The current value or summary qualitative description of the indicator.
<LI><STRONG>Details:</STRONG>&nbsp;Full description of the current value or qualitative description of the indicator.
<LI><STRONG>Current Status:</STRONG>&nbsp;The rating (VG, G, F, P) that corresponds to the measurement.
<LI><STRONG>Trend:</STRONG> Your assessment of the direction that this indicator is heading at the moment of the current measurement.
<LI><STRONG>Source:</STRONG>&nbsp;Your confidence rating in the source of the indicator measurement.
<LI><STRONG>Comments:</STRONG>&nbsp;Discussion about the measurement.</ul>

<P>Miradi will automatically shade in the cell of the indicator ratings table in the upper table with the color corresponding to your current status assessment (but it will NOT automatically read the measurement parameter and assign a current status category).&nbsp;It will also display an arrow showing the trend, and the current status label.</P>

<p>Miradi will calculate a status rating for each KEA, based on the ratings of its indicators. The KEA ratings will be rolled up for each KEA type, and the average of the KEA type status ratings will be used as the viability status rating for the target (see below for calculation details). This target viability status rating will appear at the top of the properties dialog, and will be displayed in the diagram as a small oval next to the target.</p>

<p class='hint'><strong>Hint:</strong>You must assign the <b>type of indicator</b> (size, condition, or landscape context) to each KEA for the roll-up algorithm to work.</p>

<p>Miradi rolls up viability scores using an algorithm originally developed as part of <A 
  href="http://conserveonline.org/workspaces/cbdgateway/cap/resources/4/2/5-S_Handbook_2000.pdf/download">TNC's 5S process</A>. Each of the viability ranks has a numerical score associated with it:



<ul>
<LI>Very Good = 4.0</LI>
<LI>Good = 3.5</LI>
<LI>Fair = 2.5</LI>
<LI>Poor = 1.0</LI>
</ul>

As the 5S handbook states, "This scale is a crude approximation of the underlying continuous viability scale. The non-linear
numeric relationship among the viability classes reflects the diminishing return of moving up one
class as one moves up the scale. For example, the viability score increases by 1.5 in moving from
'Poor' to 'Fair,' but only increases by 0.5 in moving from 'Good' to 'Very Good.'"</p>

<p>The average viability score across multiple indicators for one target and for all focal conservation targets for the project site is calculated according to the following scale:

<ul>
<LI>>= 3.75 = Very Good</LI>
<LI>3.00 - 3.74 = Good</LI>
<LI>1.75 - 2.99 = Fair</LI>
<LI>< 1.75 = Poor</LI>
</ul>