<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

The next step is to develop&nbsp;one or more <a href='Definition:Indicator' class='definition'>indicators</a> for each KEA.

<P>To create a new indicator, make sure the KEA is selected in the upper panel, and click the <code class='toolbarbutton'>&lt;Create&nbsp;Indicator&gt;</code> button.&nbsp; Fill in the following fields:</P>

<UL>
<LI><STRONG>Indicator ID:</STRONG> A user assigned identification code for the indicator.</LI>
<LI><STRONG>Indicator Name:</STRONG> The name of the indicator.&nbsp;Generally 2-5 words (e.g., Number of Sharks).</LI>
<LI><STRONG>Details:</STRONG> Details about the indicator.</LI>
<LI><STRONG>Comments:</STRONG> Discussion about the indicator.</LI>
</UL>

<!--<P><FONT color=#4000ff>To use or adapt an existing&nbsp;indicator click the <FONT color=#996633>&lt;pick indicator&gt;</FONT> button and then select the desired&nbsp;indicator from the list.&nbsp;You can also use the<FONT color=#996633>&lt;search database&gt;</FONT> button to look for indicators that other projects have used for similar targets and KEAs.</FONT>&nbsp; </P>

To edit or delete an indicator, click on the indicator in the upper panel, and then either edit the fields in the lower panel, or click on the <code class='toolbarbutton'>&lt;Delete&nbsp;Indicator&gt; </code>button. 	</P>
			