<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
				            
The <i>current status</i> rating describes the indicator rating category where your key ecological attribute is today; the <i>desired future status</i> rating describes where you want to be in the future.&nbsp;The desired&nbsp;future status is a <a href='Definition:Goal' class='definition'>goal</a> (or at least a sub-goal) for your project.&nbsp;You should consider the appropriate spatial extent and time frame for achieving the desired status; some changes may require long time periods (50-100 years).
				
<p>If you are using the Simple Viability assessment method, then it will be necessary later on in the process to craft a goal for each target. If you are using the Key Attribute viability assessment method, however, then technically all of your Future Status measurements for that target together represent the goal. Many projects in this situation still choose to develop an overarching goal for each target that summarizes the various desired future status measurements for all of that target's KEAs.</div>

