<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

The&nbsp;final step is to determine the <a href='Definition:DesiredFutureStatus' class='definition'>desired future status</a> for each indicator. In the upper table, click on the blue oval beneath the indicator you are working on and then edit the fields in the the bottom panel.
			
<P>For the selected indicator's desired future value, fill in the following fields:</P>
			
<LI><STRONG>Desired Future Value Date:</STRONG>&nbsp;The date of the desired future status assessment.</LI>
<LI><STRONG>Desired Future Value:</STRONG>&nbsp;The desired future value or summary qualitative description of the indicator.
<LI><STRONG>Rating:</STRONG>&nbsp;The rating (VG, G, F, P) that corresponds to the desired future status measurement.</LI>
<LI><STRONG>Details:</STRONG>&nbsp;Full description of the current value or qualitative description of the indicator.</LI>
<LI><STRONG>Comments:</STRONG>&nbsp;Discussion about the desired future status.</ul>

<P>Miradi will automatically display the Future Status Value, along with a blue oval icon, in the cell of the indicator ratings table corresponding to the desired future status.</P>
			<P>
			
			<!--<P><FONT color=#ff0000>+++++++++++++++++++++++++++++</FONT></P>
			<P><STRONG><FONT color=#ff0000>Button Links</FONT></STRONG></P>
			<P><FONT color=#ff0000><STRONG>Next</STRONG> - Viability2a (complete 
			loop)</FONT></P>-->
	