<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

You should have already set the viability analysis mode for the target you are working on to <i>"Key Attribute"</i>. 

<p class='hint'><b>Hint:</b> If you are trying to follow the interview and go through the steps in the Key Attribute Mode, it will be easier to work in the Viability View rather than in individual target dialogue boxes. However, once you stop using the interview, you can work either in the target dialogue box or in the Viability View.</p>

<p>The first step is to develop&nbsp;one or more <a href='Definition:KEA' class='definition'>Key Ecological Attributes</a> (KEAs) for each target. To create a new KEA, click the <code class='toolbarbutton'>&lt;Create KEA&gt;</code> button.&nbsp;Select the new KEA in the upper panel, and then fill in the following fields in the lower panel:
			</P>
			<UL>
		 <LI><STRONG>ID:&nbsp;</STRONG>A user assigned identification code for the KEA.</LI>	  <LI><STRONG>Name:&nbsp;</STRONG>The name of the KEA. Generally 2-5 words (e.g., Shark Population Size).</LI>
<LI><STRONG>Details:</STRONG> Detail about the KEA.</LI>			  <LI><STRONG>Type:</STRONG> The type of KEA. </LI>
			  <LI><STRONG>Comments:</STRONG> Discussion about the KEA.</LI>
			 </LI>
			 </UL>
			
			<TABLE width="100%">
			  <TBODY>
			  <TR>
			    <TD vAlign=top align=left width="45%">


			      To edit or delete a KEA, click on the desired row  in the upper panel, 
			      and then either edit the text fields in the lower panel, or click on the 
			      <code class='toolbarbutton'>&lt;Delete KEA&gt;</code> button.
			</TD></TR></TBODY></TABLE>

