<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
				            
To track the source of your ratings, use the following scale:</P>

<UL>
<LI><STRONG>Rough Guess</STRONG> - Values are rough estimates by project team members. They are often an initial placeholder value meant to be improved down the road through use of other methods.</LI><br>
<LI><STRONG>Expert Knowledge</STRONG> - Values are more refined estimates provided by experienced, reliable observers. These experts may be project team members, professional managers, researchers, or members of a traditional community that have reason to take note of the conditions of interest and the experience necessary to provide reliable information.</LI><br> 
<LI><STRONG>External Research</STRONG> - Values are derived from research on this target at other comparable project sites, often obtained from published and unpublished scientific literature.</LI><br>
<LI><STRONG>Onsite Research</STRONG> - Values are derived from research on this target at the project site. Note that this can include adaptive management by the project team!</LI></UL></FONT>
</div>
