<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

As outlined in the CMP Open Standards, key components for an operational plan include analyses of: 

<ul>
<li>Funding required to implement your project, and your current and potential sources of these funds,</li>
<li>Human capacity and skills and other non-financial resources required to implement your project and what you need to do to develop those resources,</li>
<li>What risk factors exist for your project and how they can be addressed,</li>
<li>How long your project will last, how you will ensure the sustainability of your project's achievements, and what your exit strategy will be.</li></ul>
<p>The level of detail and formality of your operational plan will vary depending on the size and level of complexity of your project. Small projects may only briefly touch on each of these topics whereas large, complex ones might have an extensive and formal treatment of each.</p> 


