<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

Indicators can be assigned different <i>priority ratings</i> as follows:
<ul>
<li><strong>Very High: </strong> Must be monitored.</li>
<li><strong>High: </strong> High priority for monitoring.</li>
<li><strong>Medium: </strong> Monitor only if resources allow.</li>
<li><strong>Low: </strong> Not necessary to monitor. </li>
</ul>

<p>You can use the <code class='toolbarbutton'>&lt;Progress&nbsp;Report&gt;</code> side tab in the lower panel to update the status of a given indicator:</p>
          
<ul>
<li><strong>Scheduled for Future Implementation:</strong> Indicator is not yet started</li>
<li><strong>Major Issues:</strong> Ongoing, but has major issues that need attention</li> 
<li><strong>Minor Issues:</strong> Ongoing, but has minor issues that need attention</li>
<li><strong>On Track:</strong> Ongoing, generally on track</li>
<li><strong>Completed:</strong> Successfully accomplished</li>
<li><strong>Abandoned:</strong> No longer relevant or useful</li>          
</ul>			  
</div>
<p></p>
You can use the <code class='toolbarbutton'>&lt;Who&nbsp;and&nbsp;When&gt;</code> side tab in the lower panel to assign who is responsible for undertaking and leading each indicator. Dates can be set in the Workplan View.
