<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

At this point, you should have already created your draft monitoring plan by assigning indicators to specific factors in the diagram view.

<p>Click on the <code class='toolbarbutton'>&lt;Monitoring Plan&gt;</code> tab in the Strategic Plan View to view and edit this plan. You can look at your plans either based on your overall conceptual model, or on specific results chains by collapsing and expanding elements of the tree.</p>

<p>Note that in your monitoring plan, a given indicator may be repeated several times if it contributes to more than one goal or objective. (In your operational plan, by contrast, indicators are not repeated.) If you want to adjust which indicator is tied to a given objective, click on the objective in the upper tree table and then, in the lower panel, click on the <code class='toolbarbutton'>&lt;Choose&nbsp;Indicators&gt;</code> button and check which indicators you would like to have associated with this objective.</p>

<p>For a selected indicator, you can select the <code class='toolbarbutton'>&lt;Monitoring&nbsp;Plan&gt;</code> side tab in the lower panel to assign or edit the <a href='Definition:Method' class='definition'>method</a> and the <a href='Definition:PriorityRating' class='definition'>priority rating</a>. You can also use the <code class='toolbarbutton'>&lt;Progress&nbsp;Reports&gt;</code> side tab in the lower panel to update the status of a given indicator.</p>

