<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<h3>Welcome to the Strategic Plan View</h3>

This view enables you to develop and edit various plans for your project.  
Specific subviews include:

<p><b>Action Plan</b> - A plan for how your project will change the project situation. Primarily derived from results chains and shows the relationship between a project's 
<a href='Definition:Goal' class='definition'>goals</a>, 
<a href='Definition:Objective' class='definition'>objectives</a>, and 
<a href='Definition:Strategy' class='definition'>strategies</a>.</p>

<p><b>Monitoring Plan</b> - A plan for collecting information that you and others need to know about your project. 
Primarily derived from results chains and includes the 
<a href='Definition:Indicator' class='definition'>indicators</a> 
that you will track over time as well as the 
<a href='Definition:Method' class='definition'>methods</a> 
that you will use.</p>

<p>
<b>Lists (Goals Only, etc.)</b> - Shows all of your 
<a href='Definition:Goal' class='definition'>goals</a>, 
<a href='Definition:Objective' class='definition'>objectives</a>, 
<a href='Definition:ConservationTargets' class='definition'>targets</a>,
<a href='Definition:DirectThreat' class='definition'>direct threats</a>,
<a href='Definition:Strategy' class='definition'>strategies</a>,
<a href='Definition:Activity' class='definition'>activities</a>,
<a href='Definition:Indicator' class='definition'>indicators</a>, 
<a href='Definition:Method' class='definition'>methods</a>, or 
<a href='Definition:AssignedResource' class='definition'>assigned resources</a> 
in one table for quick comparisons and editing.</p>

<p>
<b>Custom Tables</b> - In addition to the standard planning views, Miradi also enables you to create your own custom planning views by choosing which objects to display in the rows and columns of the planning table.  This can be a good utility for creating custom report views.</p>

<p>
<b>Project Resources</b> - Allows you to manage the individuals and other resources assigned to actions and monitoring needs.</p>


<p class='hint'><strong>Hint:</strong> Some users may find that the default Action Plan and Monitoring plan tables do not show all the information they would like, or have it organized in the way they would prefer.  The flexibility provided by the Custom Tab allows for the creation of Action and Monitoring plans for your specific needs.  You can create Custom tables from any existing table by clicking the <code class='toolbarbutton'>&lt;Customize Table...&gt;</code> button.</p>

<p class='hint'><strong>Hint:</strong> Some users may prefer to have all Targets and Goals listed only once at the top of the planning view tree while other may prefer to have them appear under each diagram in which they appear.  Choose where Targets and Goals are displayed by creating a Custom table and making a selection in the <strong>Position of Targets in Trees</strong> drop down menu.</p>
<p class='hint'><strong>Hint:</strong> Some users may prefer to think of Objectives as a property of Strategies or vice versa.  It is possible to control how the relationship between Strategies and Objectives is displayed by making a selection in the <strong>Objective/Strategy Display</strong> drop down menu. 

