<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

At this point, you should have already created your draft action plan by assigning specific goals, objectives, and strategies to specific factors in the diagram view.

<p>Click on the <code class='toolbarbutton'>&lt;Action&nbsp;Plan&gt;</code> tab in the Strategic Plan View to view and edit this plan. You can look at your plans either based on your overall conceptual model, or on specific results chains by collapsing and expanding elements of the tree.</p>

<p>Note that in your action plan, a given strategy may be repeated several times if it contributes to more than one goal or objective. (In your work plan, by contrast, strategies are not repeated.) If you want to adjust which strategy or activity is tied to a given objective, click on the objective in the upper tree table. In the panel below, click on the <code class='toolbarbutton'>&lt;Choose&gt;</code> button for Strategies and Activities and check the <code class='toolbarbutton'>&lt;Is Relevant&gt;</code> box for the strategies and activities you would like to have associated with this objective.</p>


