<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

Miradi supports two different threat rating systems:

<ul>
<li><strong>Simple Threat Rating</strong> is a system developed by the Conservation Measures Partnership. It involves rating the impact of direct threats on targets.</li><br>
<li><strong>Stress Based Threat Rating</strong> is a system developed by The Nature Conservancy. It involves rating the impact of stresses on a target and then the contribution of sources of stress (direct threats) on each stress.</li>
</ul>

Both methods meet the CMP Open Standards in that they each provide a prioritzed list of direct threats affecting each target. Click on the <code class='toolbarbutton'>&lt;More&nbsp;Info&gt;</code> button to learn more about the two methods.</p></div>