<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

The table below contains a summary of your threat ratings.

<ul>
<li>The <strong>column on the far right </strong>contains a summary of the overall rating of each threat across all targets.</li>
<li>The <strong>row on the bottom </strong>contains a summary of the overall threat rating for each target.</li>
<li>Finally, the <strong>lowest right hand cell</strong> contains a summary of the threat rating for your entire project.</li>
</ul>

<p>These summary ratings are not entered directly, but are calculated as you rate the specific effects of threats on targets in the cells of the table.</p>

<p>You should check whether you agree with these summary ratings.  If any of them do not make sense, you may need to go back and adjust the ratings for the specific criteria.</p>

