<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

<strong>Scope - </strong>Most commonly defined spatially as the geographic scope of impact on the conservation target at the site that can reasonably be expected within ten years under current circumstances (i.e., given the continuation of the existing situation).

<ul>
<li><strong>Very High: </strong>The stress is likely to be very widespread or pervasive in its scope, and affect the conservation target throughout the target's occurrences at the site.</li>
<li><strong>High: </strong>The stress is likely to be widespread in its scope, and affect the conservation target at many of its locations at the site.</li>
<li><strong>Medium: </strong>The stress is likely to be localized in its scope, and affect the conservation target at some of the target's locations at the site.</li>
<li><strong>Low: </strong>The stress is likely to be very localized in its scope, and affect the conservation target at a limited portion of the target's location at the site.</li>
</ul>

<p><strong>Severity - </strong>The level of damage to the conservation target that can reasonably be expected within ten years under current circumstances (i.e., given the continuation of the existing situation).</p>

<ul>
<li><strong>Very High: </strong>The stress is likely to destroy or eliminate the conservation target over some portion of the target's occurrence at the site.</li>
<li><strong>High: </strong>The stress is likely to seriously degrade the conservation target over some portion of the target's occurrence at the site.</li>
<li><strong>Medium: </strong>The stress is likely to moderately degrade the conservation target over some portion of the target's occurrence at the site.</li>
<li><strong>Low: </strong>The stress is likely to only slightly impair the conservation target over some portion of the target's occurrence at the site.</li>
</ul>
