<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

Start the threat rating process by selecting a target-threat pair to work on, 
by clicking on a cell in the table below.

<br></br>
<table><tr>
	<td width='25'></td>
	<td>
		<table><tr>
			<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
			<td align='left' valign='top'>&nbsp;</td>
			<td align='left' valign='top'><input type='submit' name='Next' value='Do Threat Rating &gt;'></input></td>
		</tr>
		<tr>
			<td align='left' valign='top'>&nbsp;</td>
			<td align='left' valign='top'><input type='submit' name='Done' value='Done with Threat Ratings'></input></td>
			<td align='left' valign='top'>&nbsp;</td>
		</tr></table>
	</td>
	<td width='25'></td>
</tr></table>
