<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

Click on the <code class='toolbarbutton'>&lt;Manage Stresses&gt;</code> button. You should see a list of all stresses that you previously identified as affecting this target (you can also create, edit, and delete stresses as needed from this table).

<p>Using the definitions in the right hand wizard panel and the drop down menus, rate the <i>scope</i> and the <i>severity</i> of each stress on the target. Note that at this point, you should be doing the ratings for the impact of the stress on the target regardless of which direct threats (sources of stress) are contributing to this stress. Miradi will then calculate the <a href='Definition:ShowRulesStressCalculations'>Summary Rating</a> for each stress on this target. </p><p>When you have rated all of the stresses, click the <code class='toolbarbutton'>&lt;Close&gt;</code> button to return to the threat rating table.</p>

