<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

<H3>Guide to the Stress Based Threat Rating Summary Table</h3>

The <strong>far left hand column </strong>is a listing of all threats and the <strong>top row </strong>is a listing of all targets for your project. To <strong>sort the table, </strong>click on any cell in the header row to sort by that column.You can <strong>move</strong> or <strong>change the width </strong>of columns and <strong>change the height</strong> of rows.<p>The cells of the table show the overall threat ratings for each threat on each target that it affects.  You can click on a cell to see the details that go into its  threat ratings. To <strong>create a new link</strong> between a threat and target, right (alt) click on a blank cell in the table.

<p>Finally, the table contains three types of summary ratings:</p>
<ul>
<li>The <strong>column on the far right </strong>contains a summary of the overall rating of each threat across all targets.</li>
<li>The <strong>row on the bottom </strong>contains a summary of the overall threat rating for each target.</li>
<li>Finally, the <strong>lowest right hand cell </strong>contains a summary of the threat rating for your entire project.</li></ul>

<p>These summary ratings are not entered directly, but are calculated as you rate the specific effects of threats on targets. Miradi calculates threat ratings using a rule-based system.   The scope and severity are used to calculate the magnitude, and the contribution and irreversibility criteria are combined to calculate a source rank.  The magnitude and source ranks are then used to calculate the summary stress rating and the summary stress ratings are then used to calculate the rank of a threat to a target which is what is displayed in the threat ratings table. <a href='Definition:ShowStressBasedRulesCalculations'>Click here</a> for a detailed description of how Miradi calculates the rank for a specific threat to a target, and <a href='Definition:ShowRulesBundles'>click here</a> for a detailed description of how Miradi calculates row and column totals.</p></div>