<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'> <strong>Irreversibility (Permanence) - </strong>The degree to which the effects of a threat can be reversed and the target affected by the threat restored.

<ul>
<li><b>Very High:</b> The effects of the threat cannot be reversed and it is very unlikely the target can be restored, and/or it would take more than 100 years to achieve this (e.g., wetlands converted to a shopping center).</li>
<li><b>High:</b> The effects of the threat can technically be reversed and the target restored, but it is not practically affordable and/or it would take 21-100 years to achieve this (e.g., wetland converted to agriculture).</li>
<li><b>Medium:</b> The effects of the threat can be reversed and the target restored with a reasonable commitment of resources and/or within 6-20 years (e.g., ditching and draining of wetland).</li>
<li><b>Low:</b> The effects of the threat are easily reversible and the target can be easily restored at a relatively low cost and/or within 0-5 years (e.g., off-road vehicles trespassing in wetland).</li>
</ul>

<p><b>Explanation of Key Terms</b></p>
Permanence applies to the <i>effects of the threat</i> on the target, not the threat itself. In other words, it is not a measure of how difficult it is to stop the threat, but rather to undo the stress caused by the threat on the target. It is important to note that the use of the permanence rating as specified is largely in respect to prioritizing potential threats. If a threat is looming that will cause irreversible damage, then it makes sense to try to address that threat.  However, if the threat has already occurred and the irreversible damage has already taken place, then it may not make sense to prioritize that threat for action.
</div>



<!-- The degree to which the effects of a threat can be restored.</font></p><table><tr><td width='25'></td><td><p><strong>Very High: </strong>The effects of the threat are not reversible 	(e.g., wetlands converted to a shopping center).</font></p><p><strong>High: </strong>The effects of the threat are technically reversible, but not practically affordable (e.g., wetland converted to agriculture).</font></p><p><strong>Medium: </strong>The effects of the threat are reversible with a reasonable commitment of resources (e.g., ditching and draining of wetland).</font></p><p><strong>Low: </strong>The effects of the threat are easily reversible at relatively low cost (e.g., off-road vehicles trespassing in wetland).</font></p></td><td width='25'></td></tr></table> -->
