<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>Welcome to the Threat Rating View</h3>

Miradi's default method is the Simple Threat Rating system (see description of the two systems in the right wizard panel). If you want to use the Stress Based Rating system, you can select it using the drop down in the threat rating view toolbar, or the <code class='toolbarbutton'>&lt;Edit/Preferences/Threat Rating View&gt;</code> menu and change the <strong>Threat Rating Mode</strong> field to <i>"Stress Based Threat Rating Mode."</i>

<p>The table below contains a summary of your threat ratings. Target-Threat combinations that have been rated should appear colored in. If there is a threat or target that is missing or a threat is not linked to a specific target, return to the <a href='View:Diagram'>diagram view</a> to add the factors or links and then return to this view to rate them.</p> 

<p><strong>Click next to continue with the threat rating process.</strong></p>


 