<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

<strong>Scope - </strong> Most commonly defined spatially as the proportion of the target that can reasonably be expected to be affected by the threat within ten years given the continuation of current circumstances and trends. For ecosystems and ecological communities, measured as the proportion of the target's occurrence. For species, measured as the proportion of the target's population.

<ul>
<li><b>Very High:</b> The threat is likely to be pervasive in its scope, affecting the target across all or most 
(71-100%) of its occurrence/population.</li>
<li><b>High:</b> The threat is likely to be widespread in its scope, affecting the target across much 
(31-70%) of its occurrence/population.</li>
<li><b>Medium:</b> The threat is likely to be restricted in its scope, affecting the target across some 
(11-30%) of its occurrence/population.</li>
<li><b>Low:</b> The threat is likely to be very narrow in its scope, affecting the target across a small proportion 
(1-10%) of its occurrence/population.</li>
</ul>

<p><b>Explanation of Key Terms</b></p>
The <i>target</i> refers to the focal conservation target at the scale being assessed - in technical terms, the target occurrence within the defined project area (e.g., small site, landscape, or even global scale). <i>Affected</i> means subject to one or more stresses from the threat. The <i>ten-year</i> time frame can be extended for some longer-term threats like global warming that need to be addressed today. <i>Current circumstances and trends</i> include both existing as well as potential new threats. <i>Occurrence</i> for ecosystems is typically by area. Species includes both single species targets as well as multiple species guilds. If a species is evenly distributed, then the proportion of the target's population is the same as the proportion of the area occupied, but if it is patchily distributed, then it is not. In these cases, it is important to specify the unit of assessment for the target (e.g., breeding pairs vs. nests vs. individuals).

<p>For both ecosystems and species, the proportion is estimated as the percentage of the target's occurrence at the scale being assessed (e.g. a water pollution threat affecting an aquatic ecosystem target is measured as the percentage of that aquatic ecosystem target affected, not the percentage of the area of the entire site).</p>
</div>









<!-- Most commonly defined spatially as the geographic scope of impact on the conservation target at the site that can reasonably be expected within ten years under current circumstances (i.e., given the continuation of the existing situation).</font></p><table><tr><td width='25'></td><td><p><strong>Very High: </strong>The threat is likely to be very widespread or pervasive in its scope, and affect the conservation target throughout the target's occurrences at the site.</font></p><p><strong>High: </strong>The threat is likely to be widespread in its scope, and affect the conservation target at many of its locations at the site.</font></p><p><strong>Medium: </strong>The threat is likely to be localized in its scope, and affect the conservation target at some of the target's locations at the site.</font></p><p><strong>Low: </strong>The threat is likely to be very localized in its scope, and affect the conservation target at a limited portion of the target's location at the site.</font></p></td><td width='25'></td></tr></table></div> -->
