<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

<strong>Contribution - </strong>The expected contribution of the source, acting alone, to the full expression of a stress (as determined in the stress assessment) under current circumstances (i.e., given the continuation of the existing management/conservation situation).

<ul>
<li><strong>Very High: </strong>The source is a very large contributor of the particular stress.</li>
<li><strong>High: </strong>The source is a large contributor of the particular stress.</li>
<li><strong>Medium: </strong>The source is a moderate contributor of the particular stress.</li>
<li><strong>Low: </strong>The source is a low contributor of the particular stress.</li>
</ul>

<p><strong>Irreversibility - </strong>The degree to which the effects of a threat can be restored.</p>

<ul>
<li><strong>Very High: </strong>The effects of the threat are not reversible (e.g., wetlands converted to a shopping center).</li>
<li><strong>High: </strong>The effects of the threat are technically reversible, but not practically affordable (e.g., wetland converted to agriculture).</li>
<li><strong>Medium: </strong>The effects of the threat are reversible with a reasonable commitment of resources (e.g., ditching and draining of wetland).</li>
<li><strong>Low: </strong>The source is a low contributor of the particular stress.</li>
</ul>