<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>
<strong>Target-Threat Rating - </strong>Miradi calculates threat ratings using a rule-based system for combining the scope, severity, contribution, and irreversibility criteria.  These procedures involve specifying rules as to how different parameters should be combined with one another.

<a href='Definition:ShowRulesStressCalculations'>Click here</a> for a detailed description of how Miradi calculates the rank for a specific threat to a target, and <a href='Definition:ShowRulesBundles'>click here</a> for a detailed description of how Miradi calculates row and column totals.</p></div>