<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

<h3>Navigation Hints for the Simple Threat Rating View</h3>

The <strong>far left hand column </strong>is a listing of all threats and the <strong>top row </strong>is a listing of all targets for your project. To <strong>sort the table, </strong>click on any cell in the header row to sort by that column. You can also <strong>move</strong> or <strong>change the width </strong>of columns.

<p>The cells of the table show the target-threat ratings for each threat on each target that it affects. You can click on a cell to bring up the specific criteria that go into the target-threat ratings. To <strong>create a new link</strong> between a threat and target, click on a blank cell in the table.</p>

<p class='hint'><strong>New Feature Hint:</strong> Because we now no longer require direct threats to be directly linked to targets, we cannot support direct creation of threat-target links in the threat grid. Instead, you have to create the link in the diagram.</p>


<p>Finally, the table contains three types of summary ratings:</p>
<ul>
<li>The <strong>column on the far right </strong>contains a summary of the overall rating of each threat across all targets.</li>
<li>The <strong>row on the bottom </strong>contains a summary of the overall threat rating for each target.</li>
<li>Finally, the <strong>lowest right hand cell </strong>contains a summary of the threat rating for your entire project.</li></ul>

<p>These summary ratings are not entered directly, but are calculated as you rate the specific effects of threats on targets in the cells of the table. Miradi calculates threat ratings using a rule-based system for combining the scope, severity, and irreversibility criteria. <a href='Definition:ShowRulesCalculations'>Click here</a> for a detailed description of how Miradi calculates ratings for a given cell, and <a href='Definition:ShowRulesBundles'>click here</a> for a detailed description of how Miradi calculates row and column totals.</p>

<p></p><table width='100%'><tr><td align='center'><img src='images/ThreatRating/Wizard/threat-nav.png' width='500' height='386'></img></td></tr></table></font></p></div>
