<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

<strong>Severity - </strong>Within the scope, the level of damage to the target from the threat that can reasonably be expected given the continuation of current circumstances and trends. For ecosystems and ecological communities, typically measured as the degree of destruction or degradation of the target within the scope. For species, usually measured as the degree of reduction of the target population within the scope.

<ul>
<li><b>Very High:</b> Within the scope, the threat is likely to destroy or eliminate the target, or reduce its population by 71-100% within ten years or three generations.</li>
<li><b>High:</b> Within the scope, the threat is likely to seriously degrade/reduce the target or reduce its population by 31-70% within ten years or three generations.</li>
<li><b>Medium:</b> Within the scope, the threat is likely to moderately degrade/reduce the target or reduce its population by 11-30% within ten years or three generations.</li>
<li><b>Low:</b> Within the scope, the threat is likely to only slightly degrade/reduce the target or reduce its population by 1-10% within ten years or three generations.</li>
</ul>

<p><b>Explanation of Key Terms</b></p>
<i>Within the scope</i> refers to both the spatial and temporal scope defined above. It is important to note that the severity rating is not made for the entire assessment area, but only within the scope the threat affects. Thus, if the scope of a hunting threat only affects a sub-population of the overall species target, the severity assessment is only made in relation to that sub-population. For ecosystem targets, <i>destruction or degradation</i> is defined in reference to one or more key attributes of the target. Likewise, damage to species targets is most often defined in terms of the <i>degree of reduction</i> of the key attribute "population size."  In some cases it may be appropriate to consider other key attributes for species targets, such as reduction of breeding pairs or reduction of juveniles.

</div>



<!-- The level of damage to the conservation target that can reasonably be expected within ten years under current circumstances (i.e., given the continuation of the existing situation).</font></p><table><tr><td width='25'></td><td><p><strong>Very High: </strong>The threat is likely to destroy or eliminate the conservation target over some portion of the target's occurrence at the site.</font></p><p><strong>High: </strong>The threat is likely to seriously degrade the conservation target over some portion of the target's occurrence at the site.</font></p><p><strong>Medium: </strong>The threat is likely to moderately degrade the conservation target over some portion of the target's occurrence at the site.</font></p><p><strong>Low: </strong>The threat is likely to only slightly impair the conservation target over some portion of the target's occurrence at the site.</font></p></td><td width='25'></td></tr></table></div> -->
