<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

The bottom panel should now show all of the stresses that affect the highlighted target. Next, check in the <code class='toolbarbutton'>&lt;Active?&gt;</code> column each stress that is affected by the highlighted direct threat (source of stress).

<p>Using the definitions in the right hand wizard panel and the drop down menus, rate the <a href='Definition:Contribution' class='definition'>contribution</a> and the <a href='Definition:Irreversibility' class='definition'>irreversibility</a> of the direct threat to each checked stress.</p>