<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

Once you have completed your ratings for all three criteria, the software automatically calculates the <em><a href='Definition:OverallThreatRating' title='The Overall Threat Rating is...' class='definition'>target-threat rating</a></em> for this target and threat combination and colors in the top table cell accordingly.

<p>You should check whether you agree with this rating. If it does not make sense, go back and adjust the ratings for the specific criteria.</p>
