<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<table><tr><td width='25'></td><td>
Using the scale shown on the right, rate the 
<em><a href='Definition:Irreversibility' title='Irreversibility is...' class='definition'>irreversibility</a></em> 
(also termed permanence) of the threat on the target.  Enter your rating by clicking on the the Irreversibility rating box in the lower panel to open the pop up dialog menu and make the rating selection .<p>

</select><br></br></td><td width='25'></td></tr></table>

