<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>Exporting Data in Miradi to Other Applications</h3>
There are many ways to export your information from Miradi to other applications.

<br>
<h4>A. EXPORT CURRENT PAGE AS...</h4>
This command is useful to export a specific image or table for use in a document or presentation. Options include:

<h4>Export JPG or PNG Images</h4>
Use the <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../JPEG&nbsp;Image&gt;</code> or <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../PNG&nbsp;Image&gt;</code> menu commands to capture a specific diagram or table on your screen in an image file. This method is particularly useful to:
<ul>
<li>Put a diagram or table in a document or presentation</li>
<li>Create an image that can be put in a website</li>
</ul>

<p class='hint'><b>Hint:</b> If you export a diagram, Miradi will size the JPG or PNG to include hidden diagram factors. In combintation with tags, this will enable you to quickly produce animated powerpoint presentations that "build" complex diagrams.</p>


<h4>Export Rich Text Format (RTF) File</h4>
Use the <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../RTF&nbsp;File&gt;</code> menu command to export the currently viewed table to a Rich Text Format (RTF) file. This method is particularly useful to:
<ul>
<li>Export a table or other information in a format that can be edited by a word processor</li>
<li>Export pieces of a custom report</li>
</ul>

<h4>Export Tab-Delimited Table</h4>
Use the <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../Tab-Delimited Data&gt;</code> menu command to export the currently viewed table to a tab-delimited file. This method is particularly useful to:
<ul>
<li>Export the current configuration from your planning view to a spreadsheet like Excel</li>
<li>Export financial information</li>
</ul>

<br>
<h4>B. EXPORT CURRENT PROJECT AS...</h4>
This command is useful to export your entire project file so that it can be shared with other users. Options include:

<h4>Export Miradi Project (.Miradi) File </h4>
Use the <code class='toolbarbutton'>&lt;File/Export Current Project as.../Miradi Project&gt;</code> menu command to create a copy of your project with a new name. This method is particularly useful to:
<ul>
<li>Send your project to another Miradi user</li>
<li>Create a backup copy of your project</li>
</ul>

<p class='hint'><b>Hint:</b>Earlier versions of Miradi (3.x and before) stored each project's data as its own folder (as opposed to file) in the Miradi folder. As a result, you had to save a Miradi file in a special .mpz format to send it to another user. This is no longer required, unless you need to send the file to someone not yet using Miradi 4.x. Be aware that some of the newer features supported by Miradi 4.x will not be retained in the MPZ exports.</p>

<h4>Export XMPZ2 File </h4>
Use the <code class='toolbarbutton'>&lt;File/Export Current Project as.../XMPZ2&gt;</code> menu command to provide a standard output of all the data in your Miradi file. This method is particularly useful to:
<ul>
<li>Create a file that can be read and imported by a database</li>
<li>Apply custom XSLT and other report templates outside of Miradi</li>
<li>Export all of your project's information into formats that can be read by other applications</li>
</ul>

<p>In addition to the two standard export formats above, Miradi also supports several legacy export formats:</p>

<h4>Export ConPro (CPMZ) File </h4>
Use the <code class='toolbarbutton'>&lt;File/Export Current Project as.../ConPro (CPMZ) File&gt;</code> menu command to capture your entire project in a zip file that can be imported into The Nature Conservancy's ConPro database. This method is particularly useful to:
<ul>
<li>Upload your information to TNC's ConPro database</li>
</ul>

<h4>Miradi 3.3 MPZ Project File </h4>
Use the <code class='toolbarbutton'>&lt;File/Export Current Project as.../Miradi 3.3 MPZ Project File&gt;</code> menu command to capture your entire project in a small zip file. This method is particularly useful to:
<ul>
<li>Send your project to another Miradi user who does not have Version 4.x</li>
</ul>

<h4>XML/WCS Miradi Project ZIP File</h4>
Use these formats to export data to systems that require them.

<br>
<br>
<h4>C. GENERATE REPORTS</h4>
Use the <code class='toolbarbutton'>&lt;Reports&gt;</code> view to create a Rich Text Format (RTF) file that contains various configurations of your project data. This method is particularly useful to:
<ul>
<li>Create a document that can be edited in a Word Processor</li>
<li>Create a standard report for a donor or other key audience for your project</li>
</ul>