<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>Welcome to the Reports View</h3>

This view enables you to produce various reports about your project. As described in the right hand panel, reports are only one of many ways to export your information from Miradi to other applications.

<p>Miradi currently supports three types of reports:

<ul>
<li><b>Standard Reports - </b>This tab allows you to generate pre-defined reports that produce documents in accordance with the CMP Open Standards. Use the <code class='toolbarbutton'>&lt;Full&nbsp;Report&gt;</code> button to create a document showing all of your project info; use the remaining buttons to create a document showing one section of your plan.</li><br>
<li><b>Report Templates - </b>This tab allows you to generate your own reports that produce documents in accordance with your specific needs. Any Custom Tables that you have created in Planning View will be available for selection in a Custom Report.  Miradi currently only supports the ability to include entire sections of your project plan; future versions will allow much more granular control over specific fields for inclusion in a custom report.</li><br> 
<li><b>XSL Templates - </b>This tab allows advanced users to create custom reports using external XSLT (Extensible Stylesheet Langauge Transformation) templates following the XMPZ2 schema.</li>
</ul>

<p>Once you select one of the non-XSL reports, Miradi will prompt you to save the report as a Rich Text Format (RTF) file. Once you have created this file, you can then further edit it using a Word Processor program such as MS Word or Open Office. In particular, you can make use of paragraph styles (each item such as Objectives or activities has its own style) as well as table formatting commands (e.g., Distribute Columns Evenly or Auto Row Height) to quickly develop a formatted table.</p>

<p class='hint'><b>Hint:</b> If you create a RTF file, it is best to re-save it as a Word .doc or other native word processor file - if you re-save it as a RTF file after editing, the file size can get very large.</p>
<p class='hint'><b>Hint:</b> If you edit the report in your word processor, the next time you generate a report, those changes will not be maintained and you will have to edit the output again.</p>

