<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0>
		</td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>More Information About Threat Ratings </STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<hr>
<H3>An Overview of Threat Ratings</H3>
Conservation must take place in the face of a wide variety of threats. A common challenge for conservation practitioners is determining which of these threats they will try to address. Often, decisions are made applying an implicit set of criteria to evaluate threats. The danger with this approach is that different people might use different criteria or apply them differently. Moreover, there is a tendency to address threats for which strategies and 
expertise already exist, rather than addressing those that are posing the greatest threat to the biodiversity at a site.<br>

<P>Threat ranking is a method for making this implicit step more explicit and more objective. It basically involves determining and defining a set of criteria and then applying those criteria systematically to the direct threats to a 
project area so that conservation actions can be directed where they are most needed. Different organizations have developed their own variations of this basic threat rating procedures.</P>

<br>
<hr>
<H3>Simple Threat Rating System</H3>
Miradi software currently uses a threat rating system developed by The Nature Conservancy, WWF, and Foundations of Success (the "Simple Threat Rating" approach). More information about this system can be found in:<br>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>TNC. 2007. <EM>Conservation Action Planning Toolbox. 3. Identify Critical 
  Threats.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A 
  href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_4">http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_4</A></P>

  <P>WWF. 2005. <EM>Basic Guidance for Step 1.4 Threat Ranking 
  <BR></EM></FONT>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://assets.panda.org/downloads/1_4_threats_ranking_11_01_05.pdf"><U><FONT 
  color=#0000ff> http://assets.panda.org/downloads/1_4_threats_ranking_11_01_05.pdf</U></FONT></A></P></BLOCKQUOTE>

<br>
<hr>
<H3>Stress-Based Threat Rating System</H3>
Miradi also supports another threat rating system that was developed by The Nature Conservancy as part of its 5-S process. This system involves dividing direct threats into "stresses" and "sources" of stress and then rating their effects on each target. More information is available at:<br>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>TNC. 2003. <EM>The 5S Framework for Site Conservation: A Practitioner's Handbook for Site Conservation 
  Planning.<BR></EM></FONT>&nbsp;&nbsp;&nbsp;&nbsp; <A href="http://conserveonline.org/docs/2000/11/5-SVOL1.pdf">
  <U>http://conserveonline.org/docs/2000/11/5-SVOL1.pdf
  </FONT>
  </U>  
  </A>
    <P>TNC. 2007. <EM>Conservation Action Planning Toolbox. 3. Identify Critical Threats.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_4">http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_4</A></FONT></P></BLOCKQUOTE>

<br>
<hr>
<H3>Other Threat Rating Systems</H3>
Another early approach was developed by the Biodiversity Support Program. This system involves rating threats relative to one another across an entire project area. Variants of this system are also used by WCS’s Living Landscapes Program. More information is available at:<br>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Margoluis, R., and N. Salafsky. 1998. <EM>Measures of Success: Designing, Managing, and Monitoring Conservation and Development Projects, Chapter 3.</EM> Island Press, Washington, DC.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </FONT><A 
  href="http://islandpress.org/"><U><FONT 
  color=#0000ff>http://islandpress.org</U></FONT></A></P>

  <P>Margoluis, R. and N. Salafsky. 2001. <EM>Is Our Project Succeeding? A Guide to Threat Reduction Assessment for 
  Conservation.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A href="http://www.fosonline.org/resource/threat-reduction-assessment"><U><FONT 
  color=#0000ff>http://www.fosonline.org/resource/threat-reduction-assessment</U></FONT></A>

  <P>WCS.&nbsp;2004. <EM>Participatory Spatial Assessment of Human Activities, Living Landscapes Technical Manuel 
  1.</EM><BR>&nbsp;&nbsp;&nbsp;&nbsp;<A href="http://wcslivinglandscapes.com/DesktopModules/Bring2mind/DMX/Download.aspx?EntryId=5372&PortalId=0&DownloadMethod=attachment">http://wcslivinglandscapes.com/DesktopModules/Bring2mind/DMX/Download.aspx?EntryId=5372&PortalId=0&DownloadMethod=attachment</A>&nbsp;</P></BLOCKQUOTE>

<P>A general comparison of threat rating systems can be found at:</P>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Salafsky, Nick, Dan Salzer, Jamison Ervin, Tim Boucher, and Wayne Ostlie. 
  2003. <EM>Conventions for Defining, Naming, Measuring, Combining, and Mapping 
  Threats in Conservation: An Initial Proposal for a Standard 
  System.<BR></EM></FONT>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.conservationmeasures.org/initiatives/threats-actions-taxonomies"><FONT 
  color=#0000ff>http://www.conservationmeasures.org/initiatives/threats-actions-taxonomies</FONT></A>&nbsp;</P></BLOCKQUOTE>

<P>Finally, a classification of direct threats can be found at:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>IUCN - CMP. 2006. <EM>Unified Classification of Direct Threats. Version 
  1.0.<BR></EM></FONT>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.conservationmeasures.org/initiatives/threats-actions-taxonomies/threats-taxonomy"><U><FONT 
  color=#0000ff>http://www.conservationmeasures.org/initiatives/threats-actions-taxonomies/threats-taxonomy</U></FONT></A></P></BLOCKQUOTE></BODY></HTML>
