<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
            
A <i>strategy</i> describes a group of actions with a common focus that work together to reduce threats, capitalize on opportunities, or restore natural systems.  A good strategy meets the criteria of being:
          	
<ul>
<li><strong>Linked -</strong> Directly affects one or more critical factors</li>          
<li><strong>Focused -</strong> Outlines specific courses of action to be carried out</li>
<li><strong>Feasible -</strong> Accomplishable in light of the project's resources and constraints</li>
<li><strong>Appropriate -</strong> Acceptable to and falling within site-specific cultural, social, and biological norms</p></li>
</ul>
          	
<p>A <i>draft strategy</i> is one that you have brainstormed, but not yet decided to implement.</p>
          
            <table>
              <tr>
              	<td align='right'>
              		<img border='0' src='images/DiagramWizard/developDraftStrategies.png' width= '500' height='228'>
              	</td>
              </tr>
            </table>
          </div>

