<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Once you have isolated the chain that you want to work on, brainstorm draft <a href='Definition:Strategy' class='definition'>strategies</a> that your team could use at various points along the chain. Select the factor and click the <code class='toolbarbutton'>&lt;Insert&nbsp;Draft&nbsp;Strategy&gt;</code> button on the toolbar or legend.
			
<p>The software will add a new draft strategy linked to the target and open a dialogue box. Type an <b>ID, Name,</b> and <b>Details</b> for the strategy and a <b>Comment</b> if necessary. You can also link this strategy to the <b>Standard Classification</b> if necessary.</p>
	