<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

To insert a <a href='Definition:DirectThreat' class='definition'>direct threat</a>, select a target and then click the <code class='toolbarbutton'>&lt;Insert Direct Threat&gt;</code> button located on the Control Bar. The software will add a new direct threat linked to the target and open a dialogue box.

<p>
<img src='images/DiagramWizard/NewDirectThreat.png' width='300' height='160'></img>

<!-- would be nice to have text wrap on left -->


<p>Type in the <strong>Name</strong> of your direct threat, and if desired, an <strong>ID</strong> (see hint below). You can also add additional information about the threat in the <strong>Details</strong> and/or <strong>Comments</strong> fields. If you plan to share your project with other people, you can also pick the entry that best describes your threat from the <strong>Standard Classification</strong> field that lists a taxonomy of all direct threats in the drop-down menu.</p>

<p>Once you close the dialogue box, using the mouse or arrow keys, move the threat to wherever you want it to be on the diagram.</p>

<p class='hint'><strong>Hint:</strong> The <strong>Direct Threat ID</strong> field can be used for a brief user-defined code used to identify and sort your direct threats. One common system is to assign the letters DT and a number to each Direct Threat (e.g., DT1, DT2, etc.)</p>

<p class='hint'><strong>Hint:</strong> In most Miradi dialogue boxes, the <strong>Details</strong> field is used to record a longer description of the factor, whereas the <strong>Comments</strong> field is meant for discussion about the factor.</p>



