<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

The first step in building a conceptual model is to put your project <a href='Definition:Scope' class='definition'>scope</a> to one side (usually the far right) of your workspace.

<p>
To insert your scope, click on the <code class='toolbarbutton'>&lt;Insert Scope Box&gt;</code> button in the Control Bar. Miradi will add a project scope box to your diagram. You can select and drag the scope box to wherever you want it to be. You can then double-click on the green Project Scope box to either review the scope you entered earlier or enter a new scope statement. </p>

<p class='hint'><strong>Hint:</strong> You can also have more than one scope box to depict more complex project situations. The scope box is <b>not</b> a Group Box - if you want to link to all items in your Scope Box you either must insert a Group Box into the Scope Box or link to all them individually.</p>
