<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

The biodiversity at all conservation sites is a complex combination of genes, species, and ecological systems. Conservation practitioners thus often find it useful to select a handful of <i>conservation targets</i> (sometimes called biodiversity targets) that can represent this overall biodiversity so that they can focus strategies and assess whether conservation efforts are effective over the long term.  

Targets typically include key 
<a href='Definition:Ecosystems' class='definition'>ecosystems</a>, 
<a href='Definition:FocalSpecies' class='definition'>focal species</a>, or 
<a href='Definition:EcologicalProcesses' class='definition'>ecological processes</a>.
Your targets should meet the following criteria:
</p>
<ul>
<li><strong>Represent the biodiversity at the site: </strong>The focal targets should represent or capture the array of 
ecological systems, communities, and species at the project area, and the multiple spatial scales at which they occur. A target that complements other focal targets in this respect is more desirable.</li>
<li><strong>Reflect ecoregion conservation goals: </strong>Focal targets that are grounded in an ecoregional portfolio are more desirable.</li>
<li><strong>Viable or at least feasibly restorable: </strong>Viability (or integrity) indicates the ability of a conservation target to persist for many generations. If a target is on the threshold of collapse, or conserving a proposed target requires extraordinary human intervention, it may not represent the best use of limited conservation resources.</li>
<li><strong>Highly threatened: </strong>All else being equal, focusing on highly threatened targets will help ensure that critical threats are identified and addressed through conservation actions.</li>
</ul>
</div>

