<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<h3>Welcome to the Diagram View</h3>

This view enables you to develop a <a href='Definition:ConceptualModel' class='definition'>conceptual model</a> of your project. A good conceptual model graphically depicts your project's 
<a href='Definition:ConservationTargets' class='definition'>targets</a>, 
<a href='Definition:DirectThreat' class='definition'>direct threats</a>, 
<a href='Definition:IndirectThreat' class='definition'>contributing factors</a>, and 
<a href='Definition:Strategy' class='definition'>strategies</a> - and more importantly, the relationships between
them. As in any modeling exercise, you should not try to show all factors and relationships, but only the most important ones.</p>

<p> This view also helps you to brainstorm strategies and to develop <a href='Definition:Chain' class='definition'>results chains</a> 
that show the <a href='Definition:IntermediateResult' class='definition'>intermediate results</a> that 
you assume will be achieved based on the implementation of each strategy. 
These results chains become the basis for setting 
<a href='Definition:Objective' class='definition'>objectives</a> and 
<a href='Definition:Indicator' class='definition'>indicators</a> for your project.</p>

<p class='nextsteps'>Click next to begin developing a model of your project.</p>
