<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

To develop a monitoring plan, you first and foremost must define the questions you want to answer. For most conservation projects, a monitoring plan answers two basic and interrelated questions:

<ul>
<li><strong>Strategy Effectiveness -</strong> Are the conservation actions we are taking achieving their desired results?</li>

<li><strong>Status Assessments  -</strong> How are key targets, threats, and other factors at the project site changing over time?</li>
</ul>

The distinction between <i>strategy effectiveness</i> and <i>status assessment</i> questions is not what is being measured (either can focus on biodiversity targets, threats, or other factors) 
but why you are measuring it. Are you spending money and taking action to achieve some 
kind of specific result?  If so, you will want to measure the effectiveness of these actions, 
focusing in particular on your goals, objectives, and changes in other key factors. If instead you are measuring something that is not the focus of current conservation action but you want to determine whether action will be needed in the future, then you are measuring for status purposes. Here, you will have to focus on the status of key targets, threats, and other factors.

</div>


