<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>If you want to use human wellbeing targets, you must first go to the <code class='toolbarbutton'>&lt;Edit/Preferences/Project Settings&gt;</code> menu and change the mode from <i>"Default Mode"</i> to <i>"Human Wellbeing Target Mode."</i> You will now have the ability to enter brown Human Wellbeing scope boxes and tan colored human wellbeing targets.</p>

<p>Human wellbeing targets have all the same properties as conservation targets except that you cannot assign them a habitat classification or a species Latin name. They also do not factor into viability roll-up calculations.</p> 

