<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

A good results chain should meet the following criteria:
          	
<ul>
<li><strong>Results Oriented:</strong> Boxes contain desired results (e.g., reduction of hunting), and not activities (e.g., conduct a study).</li>
<li><strong>Causally Linked:</strong> There are clear "if...then" connections between successive boxes.</li>
<li><strong>Demonstrates Change:</strong> Each box describes how you hope the relevant factor will change (e.g., improve, increase, or decrease).</li>
<li><strong>Reasonably Complete:</strong> There are sufficient boxes to construct logical connections but not so many that the chain becomes overly complex.</li>
<li><strong>Simple:</strong> There is only one result per box<strong>.</strong></li>
</ul>

</div>

