<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Although for some direct threats there may be only one contributing factor, for others, there may be many. The idea is to construct <a href='Definition:Chain' class='definition'>chains</a> showing the sequence of indirect threats and opportunities affecting your threats.

<p>You can add additional factors to the chain by using the <code class='toolbarbutton'>&lt;Insert&nbsp;Contributing&nbsp;Factor&gt;</code> button. You can add additional links by selecting one factor, holding the <code class='toolbarbutton'>&lt;Shift&gt;</code> key, selecting the second factor, and then clicking on the <code class='toolbarbutton'>&lt;Insert&nbsp;Link&gt;</code> button (the arrow).</p>

<p>You can also highlight a chain by selecting a direct threat factor, right (alt) clicking the mouse, and picking the <code class='toolbarbutton'>&lt;Select&nbsp;Factor&nbsp;Chain&gt;</code> command.</p>

<p class='hint'><b>Hint:</b> If you want to move a big group of selected factors, it may be more efficient to use the mouse rather than the keyboard arrow keys.</p>

<p class='hint'><b>Hint:</b> You can use the <code class='toolbarbutton'>&lt;File/Export/PNG&nbsp;or&nbsp;JPEG&nbsp;Image&gt;</code> menu command to export a picture of your model.</p>
