<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Developing a results chain starts by taking the factors from the conceptual model. Both targets (green ovals) and strategies (yellow hexagons) look the same. But the other factors have shifted as shown in the following diagram.  In addition, the text of the direct threat and contributing factor boxes are now in brackets indicating that the text has not yet been converted from a factor to a result.

<p>To <b>convert your factors to results</b>, click on each box and edit the text. The key here is to transform the factor describing the current state of the world into the desired result.</p>

<p><table>
<tr>
<td align='right'>
<img border='0' src="images/DiagramWizard/cm-and-rc.png" width= '500' height='435'>
</td>
</tr>
</table>
</p>
				
