<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
 
The next - and most difficult - step is to <b>complete the results chain,</b> adding all the intermediate results necessary to create clear, logical "if...then" linkages along the chain.

<P>You can add, edit, and delete results chain factors and links in the same way that you would in the normal diagram view. In addition, if you have selected a link, you can add a new intermediate result that will appear between the two factors in the link.</P>

<P>Once a results chain has been created from a conceptual model, Miradi does not retain links between the factors. You can thus delete or reposition a factor from a results chain without affecting the original diagram.</p>
