<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Next, you need to add your project's <a href='Definition:ConservationTargets' class='definition'> conservation targets</a> to your scope. <p>Click on the <code class='toolbarbutton'>&lt;Insert&nbsp;Target&gt;</code> button and you will get a dialogue box into which you can type in the <strong>Name</strong> of your target, and if desired, an <strong>ID</strong> (see hint below). You can also add additional information about the target in the <strong>Details</strong> and/or <strong>Comments</strong> fields. If it is a species target, you can also record the <strong>Latin Name.</strong> You can also use the <b>Habitat Association</b> field to record the standard name of the system in which a species target is found, or for an ecosystem target itself.</p> 

<p>Once you close the dialogue box, you can select the target and move it wherever you would like it to be on your diagram (typically within the scope box). You can also edit the target's name and other properties by double clicking on the target oval.</p>

<p>Repeat as needed to enter all your conservation targets.</p>

<p class='hint'><strong>Hint:</strong> The <strong>Target ID</strong> field can be used for a short user-defined code used to identify and sort your targets. One common system is to assign a letter to each Target (e.g., A. Coral Reefs, B. Sharks, etc.).</p>

<p class='hint'><strong>Hint:</strong> In most Miradi dialogue boxes, the <strong>Details</strong> field is used to record a longer description of the factor, whereas the <strong>Comments</strong> field is meant for discussion about the factor.</p>