<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

<i>Direct threats</i> are primarily human activities that immediately affect a biodiversity target (unsustainable fishing, hunting, oil drilling, construction of roads, pollution or introduction of exotic invasive species).

<p>They can also, however, include natural phenomena altered by human activities (global warming caused by fossil fuel use) or natural phenomena whose impact is increased by other human activities (a tsunami that threatens the last remaining population of an Asian rhino).</p> 

<p class='hint'><strong>Hint:</strong> It is important to distinguish between the direct threats that immediately affect biodiversity targets and the <a href='Definition:IndirectThreat' class='definition'>contributing factors</a> (also called indirect threats, opportunities, or root causes) that lead to the direct threats. In this step, you should only consider direct threats.</p>

<p class='hint'><strong>Hint:</strong> You may want to browse the <a href="http://www.conservationmeasures.org/initiatives/threats-actions-taxonomies/threats-taxonomy">Classification of Direct Threats</a> for ideas of direct threats.</p>

</div>


