<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Many threats affect more than one target. To link your threat to another target, select the direct threat, hold the <code class='toolbarbutton'>&lt;Shift&gt;</code> key and then select the desired target. Then click on the <code class='toolbarbutton'>&lt;Insert&nbsp;Link&gt;</code> button (the arrow). You can also link direct threats to each other using the <code class='toolbarbutton'>&lt;Insert&nbsp;Link&gt;</code> button (the arrow).

<p class='hint'><strong>Hint:</strong> The best way to link two factors in Miradi is to select the first one, hold the shift key, select the second one, and then click the <code class='toolbarbutton'>&lt;Insert&nbsp;Link&gt;</code> button (the arrow) in the Control Bar. This method avoids the need to scroll through a lengthy list of all factors in the system.</p>

<p class='hint'><strong>Hint:</strong> If you end up with spaghetti - many crossing links - you can uncheck the box next to the <code class='toolbarbutton'>&lt;Insert&nbsp;Link&gt;</code> button on the Control Bar to hide all links except when you click on a factor.</p>

<p class='hint'><strong>Hint:</strong> If you are using <a href='Definition:Stress' class='definition'>stresses</a>, you can position your stress boxes on a link between the threat and the target to display your stresses in the diagram. </p>
