<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

You have constructed your conceptual model in a series of separate steps. At this point, you should take a look at your model as a whole and ask yourself the following questions:

<ul>
<li>Does this model reasonably portray what is happening at my site?</li>
<li>Are all the key targets represented?</li>
<li>Are all the key direct threats represented?</li>
<li>Are all the key contributing factors (indirect threats and opportunities) represented?</li>
<li>Are the link arrows properly placed?</li>
<li>Have you verified that nothing major is missing?</li>
<li>Will the model be understandable to my project team?</li>
<li>Will the model be understandable to people outside of my project team?</li>
</ul>

<p>If you answered "yes" to all of these questions, <strong>Click the 'Next' button below to continue.</strong></p>

<p>If you answered "no" then you need to go back and fix your model.</p>
<p></p>
<p class='hint'><strong>Hint:</strong>Tags can be a powerful tool to help manage the visual complexity of a model.</p>

<p>To <b>employ tags</b>:
<ol>
<li>Click on the <code class='toolbarbutton'>&lt;Manage Tags&gt;</code> button on the toolbar.</li>
<li>Create one or more tags. They can be either related to a theme (e.g. all factors that are part of a specific chain), or a sequence in which you want the tagged items to appear (e.g. in an "animated" powerpoint). If you want to specify a sequence, it is also helpful to put numbers or letters in order in the ID field.</li>
<li>Returning to the diagram, hold the shift key down and select the factors that you want to apply a give tag to, and then use the <code class='toolbarbutton'>&lt;Actions/Tag/Untag...&gt;</code> menu command, or the <code class='toolbarbutton'>&lt;Add Tag to Selected Items&gt;</code> command on the right (alt) click mouse  button to apply the tag.</li>
<li>Repeat with other tags as needed.</li>
<li>You can then use the check boxes in the control bar to set the visibility of each tag group.</li>
<li>Remember that once at least one tag is checked, then only checked tags will be visible. It is often helpful to create a tag called <b>Show All Factors</b> and assign it to all factors on the diagram so that you can rapidly bring them back without having to check and uncheck all the tags.</li></ol> 
