<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
            
A <i>results chain</i> is a tool that clarifies assumptions about how conservation activities are believed to contribute to reducing threats and achieving the conservation of biodiversity or thematic targets. They are diagrams that map out a series of causal statements that link factors in an "if...then" fashion - for example, if a threat is reduced, then a biodiversity target is enhanced or if an opportunity is taken, then a thematic target might be improved. In some organizations, results chains are also termed logic models.

<p>The basis for a results chain comes from factor chains from your conceptual model, but you will build on those factor chains to make them more specific and to change the boxes from neutral factors describing the current state of the world to results you want to see. As shown below, results chains are composed of a strategy, desired outcomes including <a href='Definition:IntermediateResult' class='definition'>intermediate results</a> and <a href='Definition:ThreatReductionResult' class='definition'>threat reduction results</a>, and the ultimate impact that these results will have on the biodiversity target.</p>
			
            <table>
              <tr>
              	<td align='right'>
              		<img border='0' src="images/DiagramWizard/rc.png" width= '437' height='81'>
              	</td>
              </tr>
            </table>
          
          </div>

