<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

To insert <a href='Definition:IndirectThreat' class='definition'>contributing factors</a>, select a threat and brainstorm what you think is driving that threat. Select the threat and click the <code class='toolbarbutton'>&lt;Insert&nbsp;Contributing&nbsp;Factor&gt;</code> button on the legend.</p>

<p>The software will add a new contributing factor and open a dialog box in which you can type the <strong>ID, Name, Details</strong> and <strong> Comments</strong>. Using the mouse or arrow keys, move the factor to wherever you want it to be. In most models, factors further away from the target are placed out to the left-hand side of the page.</p>

<p>If you have several factors that are all connected to another factor, you can use <strong>Group Boxes</strong> to reduce the number of links that you have to show.  Select the factors that you want to group, and then from the Actions menu or the Control Bar, click on <code class='toolbarbutton'>&lt;Create&nbsp;Group&nbsp;Box&gt;</code>. Miradi will then form a group box around the factors and prompt you to name it. You can then select and link to or from this group box as you would any other factor. A link to or from the group box is equivalent to a link to or from every factor within the group box. Using the <code class='toolbarbutton'>&lt;Delete&gt;</code> key will remove a selected group box AND the factors in it; using the <code class='toolbarbutton'>&lt;Actions/Group Box/Delete&gt;</code> menu command will remove a selected group box but leave the factors behind.</p>

<p class='hint'><strong>Hint:</strong> To select multiple factors, you can click and drag the mouse. You can also select individual factors with the mouse while holding the shift or control keys (holding the control key also allows you to deselect factors).</p>