<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

To start your monitoring plan, using your diagram, first look at the chains where you are taking action and thus need to measure <a href='Definition:StrategyEffectiveness' class='definition'>strategy effectiveness.</a> At a minimum, you will probably want to think about indicators for each goal and objective.  You may also want to think about other factors in the chain that you need to monitor.

<p>You should then consider any chains where you are not currently taking or planning
 to take action, but where you need to conduct 
<a href='Definition:StatusAssessments' class='definition'>status assessments</a> over time. In particular, you will probably want to think about monitoring key targets and direct threats.</p>