<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Review your targets and determine if any should be split or lumped.

<p>You can split targets by adding a new one and then renaming the 
old one (double click on the target and type the new name). You can lump targets by deleting an existing target (select the target and hit delete on the keyboard) and renaming
the remaining one (double click on the target and type the new name).</p>

<p>If desired, you can also click on the <code class='toolbarbutton'>&lt;Nested&nbsp;Targets&gt;</code> tab in the targets dialogue box and add any <a href='Definition:NestedTargets' class='definition'>nested targets</a>. Click on the <code class='toolbarbutton'>&lt;Create&nbsp;Nested&nbsp;Target&gt;</code> button and fill in the <strong>ID, Name</strong> and <strong>Details</strong> fields.</p>