<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<a href='Definition:Chain' class='definition'>Results chains</a> are a key tool for developing strategies. To begin, click on a strategy in the diagram. Next, click on the <code class='toolbarbutton'>&lt;Create&nbsp;Results&nbsp;Chain&gt;</code> button, available either on the toolbar or by right (alt) clicking the mouse. This will create a new tab in the diagram window that has the strategy and linked factors on it.

<p>You can include multiple factors in your new results chain by selecting them before clicking the <code class='toolbarbutton'>&lt;Create&nbsp;Results&nbsp;Chain&gt;</code> button.</p>

<p>If there is a chain icon shown in a strategy hexagon, you can view the existing results-chain by either clicking on the appropriate tab or by clicking on the strategy and then using the <code class='toolbarbutton'>&lt;Show&nbsp;Results&nbsp;Chain&gt;</code> button, available either on the toolbar or by right (alt) clicking the mouse.</p>
		