<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

Conceptual models should be considered dynamic. As you learn more about your project site, you should periodically revisit your conceptual model and revise it as necessary. You should also think about the interventions you have chosen and whether, based on the new information about your site, you need to choose new interventions or modify existing ones.

<p>Also, do not strive for perfection in your conceptual model. Strive for something that will be useful for your team - something that will help you portray what is happening at your site and determine what interventions you should be taking.</p>
</div>

