<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

<h3>Navigation Hints for the Diagram View</h3>

To <span class='task'>add a new target or other factor</span>, click the appropriate button on the control bar, use the drop down menu, or the right (Mac Ctrl-click) mouse button. The new factor will appear on the page. To <span class='task'>select a factor</span>, single click on it. To <span class='task'>reposition a factor</span>, first select it and then use the mouse or arrow keys to move it wherever you like (if you are moving a big group of factors, use the mouse). The <code class='toolbarbutton'>&lt;Move Factors Down and Right&gt;</code> button in the toolbar can be used to </span>or <span class='task'> free up space</span> in the upper left quadrant of the diagram.</p>

<p>Double clicking on a factor will bring up a dialog box in which you can <span class='task'>name the factor, add details, attach an indicator or objective to it, </span>or <span class='task'> type a comment</span>.</p>

<p>To <span class='task'>link factors</span> click on the first, hold the shift key, and then click on the second. Then click the arrow button to create the link. Or if you select a factor and then add a new factor, they will be automatically linked.</p>

<p>To <span class='task'>switch between conceptual models and results chains</span> use the tabs in the upper left and the page listings in the top of the control bar. The Zoom In, Zoom Out, and Zoom to Fit buttons can be used to <span class='task'>decrease or increase the size of the view</span>. The Control Bar can be used to <span class='task'>hide or show different types of factors</span> and to <span class='task'>manage page names</span>. The File/Export/PNG&nbsp;or&nbsp;JPEG Image menu commands can be used to <span class='task'>save a picture of your diagram</span> for use in other applications. The Tags feature can be used to <span class='task'>display a subset of the factors</span> in a diagram. Other more advanced tasks are described in subsequent wizard pages.</p>

<p></p>
<table width='100%'><tr><td align='center'>
<img src='images/DiagramWizard/diagramnavigation2.png' width='500' height='368'></img>
</td></tr></table>
</div>
