<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Once you have completed your results chain, you will want to review the criteria for a good results chain shown on the right.
				
<P>In particular, you want to make sure that your results chain is results oriented. A common mistake with developing results chains is to list all the activities that your team must undertake to implement your strategy. This produces an implementation chain, not a results chain. An implementation chain does not show the causal logic that connects a strategy to a desired conservation impact. As such, it does not provide you with an idea of the assumptions you need to test in order to know whether your strategy is working or not.</P>
				
<P>You next can either develop objectives for your project based on your results chain, work on another results chain, or go on to develop your monitoring plan.</P>