<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
				            
There are several different ways to approach building a results chain.
				
<P>One way is to work from the left to the right, asking what the immediate results of the strategy should be, what intermediate results they will in turn produce, and what additional results are necessary to reduce your threat.</p>

<p>Another way is to work from right to left, asking what needs to happen to reduce the threat, what intermediate results are needed to make that happen, and so on. Yet another way is to brainstorm intermediate results and then organize them along the chain, assuring that there are clear "if...then" linkages between each pair of results.</P>
				
<P>If you are developing a new strategy for a threat that you have not addressed in the past, we recommend building the chain from right to left, so that you are clear about what you need to accomplish to minimize the impact of this threat on your targets.</p>

<p>For example, if you are beginning to address tourism infrastructure development as a threat to a coastal-marine system, then you'll need to determine if tourism infrastructure is degrading coastal ecosystems because it is not sited in appropriate areas (which could be addressed through better planning) or if the problem is that builders use coral, mangrove and other raw materials extracted from coastal and marine ecosystems to build the hotels (which would require the identification and promotion of alternative building materials). </p>
				
<p>If, however, you understand the threat well and have a few years of experience applying a specific strategy, then it may be easier to build the chain from left to right.</P>

</div>

