<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

<i>Factor chains</i> are the basic unit for project planning. Consider, for example, the following:

<p><strong>Target: </strong> Montane forest</p>

<p><strong>Direct threat: </strong> Unsustainable logging</p>

<p><strong>Indirect threat: </strong> Government policies promoting unsustainable 
logging</p>

<p><strong>Indirect threat: </strong> Limited awareness within government of 
sustainable logging techniques  (This indirect threat is really an underlying 
cause of the government policies that promote unsustainable logging.)</p>

<p>If you were trying to portray the above relationship in your conceptual model, 
you would link the factors in the following way:</p>

<br></br>
<table width='100%'><tr><td align='center'>
<img src='images/DiagramWizard/LoggingChain.png' width='500' height='101'></img>
</td></tr></table>
</div>
