<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

<a href='Definition:IndirectThreat' class='definition'>Indirect threats</a> and <a href='Definition:IndirectThreat' class='definition'>opportunities</a> (collectively <i>contributing factors</i>) are the economic, cultural, political, legal, social, and/or institutional factors that drive direct threats.</p>

<p class='hint'><strong>Hint:</strong> We use the same shape to represent both indirect threats and opportunities because often, a given factor (for example tourism) can be both a threat and an opportunity.  Many people find it helpful to focus on neutral "factors" rather than trying to classify factors as being positive or negative.</p></div>