<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<h3>Using Human Wellbeing Targets</h3>
Some conservation projects have not only conservation ends, but also have human wellbeing ends. Based on user requests, Miradi now supports <i>Human Wellbeing Targets</i>. Just as focal conservation targets represent the overall biodiversity values that a project is working towards, the human wellbeing targets can be used to represent the human wellbeing values for a project. Examples of human wellbeing targets might include:

<ul>
<li>Human health,</li>
<li>Home and farm security,</li>
<li>Rural economic livelihoods,</li>
<li>Tourism livelihoods, and </li>
<li>Mental and spiritual health.</li>
</ul>

<p>Miradi <u>strongly recommends</u> that you do not mix conservation targets and human wellbeing targets in the same column as shown in Diagram A below. Instead, the recommended practice is to place the human wellbeing targets to the far right and then show the relationship between the human wellbeing and conservation targets as shown in Diagram B. In this example, the project team can show that human health (one component of human wellbeing) ultimately depends on having healthy species and habitat and clean abundant water. As a result, a pollution abatement strategy can be a conservation action - but also contributes to human wellbeing. But the project team can also decide and then show that they are not going to address all aspects of human health. For example, as shown in the diagram the team will not tackle smoking or fixing the health care system - these important tasks are the responsibility of other sectors of society.
<A href="http://www.fosonline.org/resource/human-wellbeing-targets">Click here</A> for detailed guidance on using human wellbeing targets in the Open Standards and Miradi.</p>


<table width='100%'><tr><td align='center'>
<img src='images/DiagramWizard/HWT-diagramA.png' width='420' height='345'></img>
<br>
<b>Diagram A. Mixing Conservation and Human Wellbeing Targets Leads to Confusion</b>
</td></tr></table>

<p></p>

<table width='100%'><tr><td align='center'>
<img src='images/DiagramWizard/HWT-diagramB.png' width='420' height='280'></img>
<br>
<b>Diagram B. Show the Relationship Between Conservation and Human Wellbeing Targets</b>
</td></tr></table>



<p></p>
 
