<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
            
Often, project teams implement strategies that they believe will contribute to conserving the biodiversity in their site, but they do not formally state their assumptions about exactly how the strategy will lead to threat reduction and biodiversity conservation. Because the assumptions are not explicit, the project team cannot test them and learn over time whether they are valid.
				
<P>For example, a team may decide that they will undertake education of school kids in an effort to stop gorilla poaching.&nbsp;They may assume that environmental education of school kids is a good thing to do.&nbsp;If they take the time to lay out their assumptions in a results chain, however, they may find that "connecting" the strategy to the target requires some difficult assumptions as shown in the following diagram.</P>

<P>There are many points where the logic could breakdown.&nbsp;For example, it may be hard to expect kids to convince their parents to stop poaching, especially if the parents have no alternative source of income.&nbsp;A results chain is an important tool to show exactly how you think your strategy will lead to your desired outcomes, and what intermediate results you expect to see along the way.</P>   
				
<table>
<tr>
<td align='right'>
<img border='0' src="images/DiagramWizard/kids-and-gorillas.png" width= '500' height='131'>
</td>
</tr>
</table>
				
		
       
</div>

