<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

You should consider lumping targets if they:
<ul>
<li>Co-occur on the landscape,</li>
<li>Share common ecological processes,</li>
<li>Share similar critical threats, and</li>
<li>Therefore require similar conservation strategies.</li>
</ul>

<p>On the other hand, if an aggregate target contains species or habitats 
that do not meet the above criteria, you may want to think about splitting it.</p>

<p>The decision to lump or split targets is as much an art as a science. You will have to use your judgment to determine what makes most sense for your site.<br></br>

<p class='hint'><strong>Hint:</strong> As a general rule, you should have no more than eight targets for your project.</p></div>



