<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<a href='Definition:Indicator' class='definition'>Indicators</a> are linked to factors in a model. To create a new indicator, double click on a factor and then click on the <code class='toolbarbutton'>&lt;Indicators&gt;</code> tab in the properties dialogue box. Click on the 
<code class='toolbarbutton'>&lt;Create&nbsp;Indicator&gt;</code> button and fill in the following fields:

<UL>
<LI><STRONG>Indicator ID:</STRONG> A user assigned identification code for the indicator (e.g., 3, 17).</LI>
<LI><STRONG>Indicator Name:</STRONG> The name of the indicator. Generally 2-5 words (e.g., Number of Sharks).</LI>
<LI><STRONG>Details:</STRONG> Details about the indicator.</LI>
<LI><STRONG>Comments:</STRONG> Discussion about the indicator.</LI>
</UL>

<p>Each indicator will have one or more <a href='Definition:Method' class='definition'>methods</a> 
associated with it. To assign a method, select the <code class='toolbarbutton'>&lt;Monitoring&nbsp;Plan&gt;</code> side tab in the lower panel and then click the <code class='toolbarbutton'>&lt;Edit&nbsp;Methods&gt;</code> button and provide an ID and Name for the method. You can either create a new method or share an existing method. It is possible to add multiple methods for each indicator.</p>

<P>The next step is to determine the <a href='Definition:Measurement' class='definition'>measurement</a> for each indicator. Select an indicator in the table and then click the <code class='toolbarbutton'>&lt;Create Measurement&gt;</code> button. Then in the bottom panel, fill in the following fields:</P>

<ul>
<LI><STRONG>Measurement Date:</STRONG>&nbsp;The date of the most recent indicator measurement. 
<LI><STRONG>Measurement Value:</STRONG>&nbsp;The current value or summary qualitative description of the indicator.
<LI><STRONG>Detail:</STRONG>&nbsp;Full description of the current value or qualitative description of the indicator.
<LI><STRONG>Current Status Trend:</STRONG> Your assessment of the direction that this indicator is heading at the moment of the current measurement.
<LI><STRONG>Source:</STRONG>&nbsp;Your confidence rating in the source of the indicator measurement.
<LI><STRONG>Comments:</STRONG>&nbsp;Discussion about the measurement.</ul>

<P>Next, determine the <a href='Definition:DesiredFutureStatus' class='definition'>desired future status</a> for the indicator. In the upper table, click on the blue oval beneath the indicator you are working on and then edit the fields in the bottom panel.</P>
			
<P>For the selected indicator's desired future value, fill in the following fields:</P>
			
<LI><STRONG>Desired Future Value Date:</STRONG>&nbsp;The date at which the indicator value will be assessed.</LI>
<LI><STRONG>Desired Future Value:</STRONG>&nbsp;The desired future value or summary qualitative description of the indicator.
<LI><STRONG>Details:</STRONG>&nbsp;Full description of the current value or qualitative description of the indicator.</LI>
<LI><STRONG>Comments:</STRONG>&nbsp;Discussion about the desired future status.</ul>

<P>Miradi will automatically display the Future Status value, along with a blue oval icon, in the cell of the monitoring table corresponding to the desired future status.</P>

<p>If you want to use an existing indicator from another factor, click on the <code class='toolbarbutton'>&lt;Create&nbsp;From&nbsp;Existing&gt;</code> button and follow the instructions. To edit or delete an indicator, click on the desired row and then either edit the text in the box at the bottom or click on the <code class='toolbarbutton'>&lt;Delete&nbsp;Indicator&gt;</code> button.</p>

<p>You can also view and edit all of the indicators for your project by using the <i>"Indicators Only"</i> view under the <code class='toolbarbutton'>&lt;Lists&gt;</code> tab in the <code class='toolbarbutton'>&lt;Strategic&nbsp;Plan&gt;</code> view.</p>

<p class='hint'><b>Hint:</b> If you used the detailed method of viability analysis, you have already created indicators for your targets. The information on this page is not applicable for targets set to use the detailed method. However, you should create indicators for other factors, where appropriate.</p>




