<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
          
<div class='navigation'>
Draft strategies can be rated on the following criteria:

<p><strong>Potential Impact -</strong> If implemented, will the strategy lead to desired changes in the situation at your project site?</p>
<ul>
<li><b>Very High</b> - The strategy is very likely to completely mitigate a threat or restore a target.</li>
<li><b>High</b> - The strategy is likely to help mitigate a threat or restore a target.</li>
<li><b>Medium</b> - The strategy could possibly help mitigate a threat or restore a target.</li>
<li><b>Low</b> - The strategy will probably not contribute to meaningful threat mitigation or target restoration.</li>
</ul>

<p>Note that there are at least two dimensions being rolled up into this rating:  probability of positive impact and magnitude of change. The users will have to integrate these into their rating.</p>


<p><strong>Feasibility -</strong> Would your project team be able to implement the strategy within likely time, financial, staffing, ethical, and other constraints?</p>
<ul>
<li><b>Very High</b> - The strategy is ethically, technically, AND financially feasible.</li>
<li><b>High</b> - The strategy is ethically and technically feasible, but may require some additional financial resources.</li>
<li><b>Medium</b> - The strategy is ethically feasible, but either technically OR financially difficult without substantial additional resources.</li>
<li><b>Low</b> -The strategy is not ethically, technically, OR financially feasible.</p></li>
</ul>

These ratings are then rolled-up to give an overall summary rating for the strategy.  Note that if a draft strategy is assigned any "red" colored rating, then the summary rating will also be "red."<br><br>
Here is a relatively simple roll-up of the overall Strategy Priority.  At higher levels, a project has to be both feasible AND have a high potential impact to score high.  But at lower levels, either low feasibility OR low impact gives an overall low priority. <BR><BR>



<table>
              <tr>
              	<td align='right'>
              		<img border='0' src='images/DiagramWizard/rankDraftStrategies.png' width= '550' height='200'>
              	</td>
              </tr>
            </table>
          </div>