<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Once you have developed your draft strategies, you rate each one in terms of its <b>Potential Impact</b> and <b>Feasibility</b> by double clicking on a draft strategy and clicking the Potential Impact and Feasibility ratings buttons.

<p>Once you have developed all your draft strategies, you can decide which one(s) you want to carry forward. Unchecking <b>Draft</b> in the status field in the dialogue box will convert the strategy from a light yellow "draft strategy" to a dark yellow "strategy."</p>

<p>Click the <code class='toolbarbutton'>&lt;Show&nbsp;Full&nbsp;Diagram&gt;</code> button (available at the bottom of the screen, the toolbar, or by right (alt) clicking the mouse) to go back to the full model and hide all your draft strategies. Note that your draft strategies are still retained in <code class='toolbarbutton'>&lt;Brainstorm&nbsp;Mode&gt;</code>.</p>

<p>You can also view and edit all your project's strategies using the <i>"Strategies Only"</i> view under the Lists tab in the Strategic Plan View.</p>	