<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
            
True strategic planning involves using your conceptual model to determine at what points you will intervene - and also where you will not. The first decision that you have to make in determining your intervention points is to prioritize where in your conceptual model you need to take action. In some cases, the most obvious <strong>intervention point</strong> is the target or direct threat itself.  But in many other cases, you get more leverage if you intervene on some of the indirect threats and opportunities affecting the direct threat - on the chain of factors affecting each direct threat.
          
            <table>
              <tr>
              	<td align='right'>
              		<img border='0' src='images/DiagramWizard/selectChainStep.png' width= '500' height='238'>
              	</td>
              </tr>
            </table>
          </div>

