<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

The next step is to identify your <a href='Definition:Strategy' class='definition'>strategies</a>. Strategies are linked to chains of factors showing the sequence of <a href='Definition:IndirectThreat' class='definition'>contributing factors</a> affecting your <a href='Definition:DirectThreat' class='definition'>direct threats</a> and ultimately your <a href='Definition:ConservationTargets' class='definition'>targets</a>.

<p>To select a chain that you want to focus on, select a factor in the chain, and the right (alt) click the mouse, picking the <code class='toolbarbutton'>&lt;Select&nbsp;Factor&nbsp;Chain&gt;</code> command.  All factors and links in the chain should now be highlighted.  (If you need to add or remove factors from the chain, hold the <code class='toolbarbutton'>&lt;Ctrl&gt;</code> key and click on the factors you wish to add or remove.)</p>
			
<p>Next, click on the <code class='toolbarbutton'>&lt;Brainstorm&nbsp;Mode&gt;</code> (available on either the toolbar or by right-clicking the mouse). This should hide all factors except the ones that you have selected.</p>

<p class='hint'><b>Hint:</b> A grey background on the diagram view means that you are showing only a selected chain in brainstorm mode and some factors are hidden.</p>