<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

An <i>objective</i> is a formal statement detailing a desired outcome of a project, such as reducing a critical threat. If the project is well conceptualized and designed, realization of a project's objectives should lead to the fulfillment of the project's goals and ultimately its vision. A good objective meets the criteria of being:
          
<ul>
<li><strong>Outcome Oriented -</strong> Represents necessary changes in critical threat and opportunity factors that affect one or more project goals </li>          
<li><strong>Time Limited -</strong> Achievable within a specific period of time</li>          
<li><strong>Measurable -</strong> Definable in relation to some standard scale (numbers, percentage, fractions, or all/nothing states)</li>          
<li><strong>Specific -</strong> Clearly defined so that all people involved in the project have the same understanding of what the terms in the objective mean</li>          
<li><strong>Practical -</strong> Achievable and appropriate within the context of the project site   </li>          
</ul>			  

An <i>activity</> is an action that is carried out to accomplish one or more of a project's strategies. Activities should capture a discrete package of work that is assigned to one or more specific individuals to complete over a relatively short time frame. Each activity should be defined such that:

<ul>
<li>It has clearly identified beginning and end points</li>
<li>The time and cost needs can easily be estimated</li>
<li>Its progress and completion can be easily assessed</li>
<li>It is distinct from other activities.</li>
</ul>


</div>

