<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<a href='Definition:Goal' class='definition'>Goals</a> are linked to targets. If you used the basic method of viability analysis, then you will need to create your goals from scratch. If you used the Key Attribute method of viability analysis, you have already created specific sub-goals for your targets, but you will want to create a more general goal based on these specific ones.

<p>To create a new goal, double click on a target and then click on the <code class='toolbarbutton'>&lt;Goals&gt;</code> tab in the properties dialogue box. Click on the <code class='toolbarbutton'>&lt;Create&nbsp;Goal&gt;</code> button. Fill in the following fields:</p>
			
<ul>
<li><p><strong>ID:</strong> A brief user-defined code used to identify and sort your goals. One common system is to assign the same letter given to a target, and then a number if there is more than one goal for this target (e.g., "A" or "D1").</p></li>
<li><p><strong>Name:</strong> The title of the goal. Generally 3-5 words (e.g., Maintain Seabird Populations)</p></li>
<li><strong>Details:</strong> The complete goal statement that meets the criteria for a good goal.
<li><strong>Comments:</strong> Any additional comments about the goal.</li>
</ul> 

<br></br>If you want to use an existing goal from another target, click on the <code class='toolbarbutton'>&lt;Create&nbsp;From&nbsp;Existing&gt;</code> button and follow the instructions. To edit or delete a goal, click on the desired row and then either edit the text in the box at the bottom or click on the <code class='toolbarbutton'>&lt;Delete&nbsp;Goal&gt;</code> button.

<p>You can also view and edit all your project's goals using the <i>"Goals Only"</i> view under the Lists tab in the <code class='toolbarbutton'>&lt;Strategic&nbsp;Plan&nbsp;View&gt;</code>.</p>			
