<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->


<a href='Definition:Objective' class='definition'>Objectives</a> are linked to threat and opportunity factors in a model. Objectives can be either created in a conceptual model or in a results chain, although more and more people are linking them to results chains. Some people like to create them before they have identified their strategies; other people like to develop them after they have their strategies.

<p>To create a new objective, double click on a factor and then click on the <code class='toolbarbutton'>&lt;Objectives&gt;</code> tab in the properties dialogue box. Click on the <code class='toolbarbutton'>&lt;Create&nbsp;Objective&gt;</code> button.  Fill in the following fields:</p>

<ul>
<li><p><strong>ID:</strong> A brief code used to identify and sort your objectives and that will appear in the diagram. One common system is to assign the letters given to the threat that the objective affects, and then a number if there is more than one objective for this threat (e.g., "FISH1" or "LOG3").</p></li>
<li><p><strong>Name:</strong> The title of the objective. Generally 3-5 words (e.g., Reduce Shark Fishing)</p></li>
<li><strong>Details:</strong> The complete objective statement that meets the criteria for a good objective.
<li><strong>Comments:</strong> Any additional comments about the objective.</li>
<li><strong>Progress Percents:</strong>Use this side tab to enter progress percent updates for this objective.
</ul> 

<p>If you want to use an existing objective from another factor, click on the <code class='toolbarbutton'>&lt;Create&nbsp;From&nbsp;Existing&gt;</code> button and follow the instructions. To edit or delete an objective, click on the desired row and then either edit the text in the box at the bottom or click on the <code class='toolbarbutton'>&lt;Delete&nbsp;Objective&gt;</code> button.</p>

<p>You can also view and edit all your project's objectives using the <i>"Objectives Only"</i> setting in the <code class='toolbarbutton'>&lt;Strategic Plan&gt;</code> view.</p>

<p>You can also show your project's activities on a results chain. Double click on a strategy and then click on the <code class='toolbarbutton'>&lt;Activities&gt;</code> tab. Click on the buttons to create a new activity or share an exsiting one. For each activity, you can then fill in the <strong>name</strong> and <strong>details</strong> fields. You can also click the <code class='toolbarbutton'>&lt;Show Activity on this page&gt;</code> button to display a stress in a box on the results chain page, or the <code class='toolbarbutton'>&lt;Hide Activity on this page&gt;</code> button to hide it.</p>

<p class='hint'><strong>Hint:</strong> Activities are displayed on the diagram as yellow "eggs." You can position them on top of links from strategies to other factors, but you cannot link to them directly. When you click on an activity stress, its corresponding strategy will also be selected. Likewise, when you click on a strategy, its corresponding activities will be selected.</p>

 
		