<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

A <i>goal</i> is a formal statement detailing a desired impact of a project. In conservation projects, it is the desired future status of a target. A good goal meets the criteria of being:
          
<ul>
<li><strong>Linked to Targets:</strong> Directly associated with one or more of your biodiversity targets</li>
<li><strong>Impact Oriented:</strong> Represents the desired future status of the target over the long-term</li> 
<li><strong>Measurable:</strong> Definable in relation to some standard scale (numbers, percentage, fractions, or all/nothing states)</li>
<li><strong>Time Limited:</strong> Achievable within a specific period of time, often 10 or more years</li>
<li><strong>Specific:</strong> Clearly defined so that all people involved in the project have the same understanding of what the terms in the goal mean</li>          
</ul>			  
</div>
