<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Miradi currently supports two different viability analysis modes for assessing target status. Generally, within a project you should consistently use one mode or the other, but you can use different modes on different targets if you wish.
			
			</P>
			<br></br>
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
            		      <tr>
                    		<td align='left' valign='top' align='center'><input type='submit' name='SimpleMode' value='Simple Mode'></input></td>
                    		<td align='left' valign='top'>&nbsp;</td>
                    		<td align='left' valign='top'><input type='submit' name='DetailedViability' value='Key Attribute Mode'></input></td>
                  		</tr>
						<tr>
						</tr>
                  		<tr>
                    		<td align='left' valign='top'>&nbsp;</td>
                    		<td align='left' valign='top'><input type='submit' name='DoneViabilityAnalysis' value='Done with Viability Analysis'></input></td>
                    		<td align='left' valign='top'>&nbsp;</td>
                  		 </tr>
                		</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>

<p>To begin viability analysis on a target, bring up its properties dialog by double-clicking on the target oval in the diagram. Then click either the <code class='toolbarbutton'>&lt;Simple Mode&gt;</code> or <code class='toolbarbutton'>&lt;Key Attribute Mode&gt;</code> buttons to indicate which method you would like to use for this target.</p>

<p>Once you return to this screen, you can repeat the viability analysis for another target. You can also click the <code class='toolbarbutton'>&lt;Done with Viability Analysis&gt;</code> button once you have completed viability analysis for all your targets and are ready to move on to the next step.</p>

	