<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

A <i>stress</i> is an impaired aspect of a conservation target that results directly or indirectly from human activities (e.g., low population size, reduced extent of forest system; reduced river flows; increased sedimentation; lowered groundwater table level).

<p> A stress is a degraded key ecological attribute - one that is outside its acceptable range of variation. Most of the stresses acting on your targets can thus be identified by looking at which key ecological attributes are currently degraded or have a high potential to become degraded within the planning horizon of your project (e.g., the next 10 years).</p></div>