<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

<h3>Two Methods for Viability Analysis</h3>
Miradi currently supports two modes for viability analysis.

<UL>
<LI><STRONG>Simple Viability Analysis</STRONG> - This mode asks you to think about each target and to identify specific <STRONG>goals</STRONG> that outline the desired future condition of the target for your project.&nbsp;It then asks you to develop specific <STRONG>indicators</STRONG> that might be used to measure each goal.&nbsp;This mode is relatively simple and very flexible, but&nbsp;does&nbsp;not readily lend itself to&nbsp;systematic assessment of target viability.&nbsp;</LI><BR>
			  
<LI><STRONG>Key Attribute Viability Analysis</STRONG> - This mode asks you to develop specific <STRONG>key ecological attributes (KEAs)</STRONG>&nbsp;for each target and specific <STRONG>indicators</STRONG> for each KEA.&nbsp;It then has you&nbsp;determine - to the best of your ability - an <STRONG>acceptable range of variation</STRONG> for each indicator, or in other words, to determine what a healthy target would look like.&nbsp;Finally, the method requires that you specify both the <STRONG>current status</STRONG> of each indicator as well as the <STRONG>desired&nbsp;future status</STRONG>. Collectively, the desired future status for all attributes become the <STRONG>goal</STRONG> for this target.&nbsp;This method is more systematic and enables comparisons across projects, but is more complex to design and implement.</LI>
</UL>

<P>It is important to note that both modes have the same ultimate outputs - the&nbsp;goal for each target and the&nbsp;indicator that will be used to assess progress towards this goal.&nbsp;&nbsp; </P>

</div>

