<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Some conservation planning methodologies, such as The Nature Conservancy's CAP Process, call for identifying the <a href='Definition:Stress' class='definition'>stresses</a> that affect your conservation targets. If you want to use stresses, double click on a target, and click on the <code class='toolbarbutton'>&lt;Stresses&gt;</code> tab in the target properties window. Click on the buttons to create a new stress, create a stress from an existing stress, or create a stress from one of your KEAs. For each stress, you can then fill in the <strong>ID</strong>, <strong>name</strong>, and <strong>details</strong> fields. You can also click the <code class='toolbarbutton'>&lt;Stress Visibility&gt;</code> side tab and then the <code class='toolbarbutton'>&lt;Show Stress on this page&gt;</code> button to display a stress in a box on the current conceptual model page, or the <code class='toolbarbutton'>&lt;Hide Stress on this page&gt;</code> button to hide it.</p>

<p class='hint'><strong>Hint:</strong> Stresses are displayed on the diagram as blue boxes. You can position them on top of links from other factors to targets, but you cannot link to them directly. When you click on a stress, its corresponding target will also be selected. Likewise, when you click on a target, its corresponding stresses will be selected.</p>
