<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<h3>Library View - Demo</h3>

This view will enable you to manage a library of images, documents, datasets, and other files related to your project.&nbsp; Your project will be able to store and tag key&nbsp;information such as:
<UL>
  <LI>Photos and other images</LI>
  <LI>Key project documents and publications</LI>
  <LI>Raw monitoring data</FONT>&nbsp;</LI></UL>

<P>Note that Miradi will <U>not</U> store the information itself, but will enable you to catalogue and manage it.</P>

