<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>More Information About Diagrams</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>An Overview of Diagrams</H3>
A diagram (sometimes called a <EM>conceptual model) </EM>is a tool for visually depicting the situation at your project site. At it's core, a good diagram graphically&nbsp;depicts a set of causal relationships between factors that are believed to impact one or more biodiversity targets. A good diagram should explicitly link the biodiversity targets to the direct threats impacting them and the contributing factors (indirect threats and opportunities) influencing the direct threats. It should also provide the basis for determining where you can intervene with your strategies and where you need to develop indicators to monitor the effectiveness of these strategies.
<br>

<P>It is important to note that a diagram is not so much a step in the adaptive management process, as a tool that your team can use to go through a number of the steps including in particular:</P>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>1B. Define Scope, Vision, &amp; Targets (see Target Selection below)<BR>
     1C. Identify Critical Threats (see more info for Threat Rating view)<BR>
     1D. Complete Situation Analysis (see Complete Situation Analysis)<BR>
     2A. Develop Strategic Plan (see more info for Planning View)<BR>
     2B. Develop Monitoring Plan (see more info for Planning View)</P></BLOCKQUOTE>

<P>Using a diagram as you go through these steps has the advantage of being visual and, when kept simple, providing a simple way to trace cause-and-effect from indirect threats and opportunities to direct threats to biodiversity targets. Because it traces back through the logical flow of influence, a good diagram can also allow your project team,partners, stakeholders, and donors to quickly understand and provide input into your thinking. Diagrams are also powerful tools for workshops with partners and local stakeholders. On the other hand,diagrams have the disadvantage of often becoming too complex and becoming unmanageable (to avoid this, one rule of thumb is to have no more than 25 boxes or so on any one page). Also, whilediagrams are readily understood by many people, a small but non-trivial fraction of people in the world have a strong dislike of this visual way of thinking.</P>

<br>
<HR>
<H3>Conceptual Models</H3>
General information about diagrams as a tool for conceptual models can be found in:
<br>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Margoluis, R., and N. Salafsky. 1998. <EM>Measures of Success: Designing, 
  Managing, and Monitoring Conservation and Development Projects, Chapter 
  3.</EM> Island Press, Washington, DC.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </FONT><A 
  href="http://islandpress.org"><U><FONT 
  color=#0000ff>http://islandpress.org</U></FONT></A></P>

  <P>WCS.&nbsp;2004. <EM>Creating Conceptual Models: A Tool for Thinking 
  Strategically, Living Landscapes Technical Manuel 
  2.</EM><BR>&nbsp;&nbsp;&nbsp;&nbsp;<A 
  href="http://wcslivinglandscapes.com/DesktopModules/Bring2mind/DMX/Download.aspx?EntryId=5368&PortalId=0&DownloadMethod=attachment">    http://wcslivinglandscapes.com/DesktopModules/Bring2mind/DMX/Download.aspx?EntryId=5368&PortalId=0&DownloadMethod=attachment
  </A>&nbsp; 
  </P>

  <P>WWF. 2005. <EM>Basic Guidance for Cross-Cutting Tools: Conceptual 
  Models.</EM>&nbsp;<BR>&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://assets.panda.org/downloads/1_4_conceptual_model_11_08_05.pdf">http://assets.panda.org/downloads/1_4_conceptual_model_11_08_05.pdf</A></P></BLOCKQUOTE>

<br>
<HR>
<H3>Target Selection</H3>
Miradi software uses a modified version of the target selection process developed by The Nature Conservancy and WWF. More information about this system can be found in:
<br>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>TNC. 2007. <EM>Conservation Action Planning Toolbox. 2. Define Scope and Focal Targets.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_2">http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_2</A></P>

  <P>WWF. 2005. <EM>Basic Guidance for Step 1.3&nbsp;Biodiversity 
  Targets<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</EM><A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://assets.panda.org/downloads/1_3_targets_08_11_06.pdf">http://assets.panda.org/downloads/1_3_targets_08_11_06.pdf</A><EM>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</EM></P></BLOCKQUOTE>

<br>
<HR>
<H3 dir=ltr>Complete Situation Analysis</H3>
Miradi software also&nbsp;uses a modified version of the situation analysis process developed by Foundations of Success,&nbsp;The Nature Conservancy and WWF. More information about this system can be found in:
<br>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Margoluis, R., and N. Salafsky. 1998. <EM>Measures of Success: Designing, 
  Managing, and Monitoring Conservation and Development Projects, Chapter 
  3.</EM> Island Press, Washington, DC.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </FONT><A 
  href="http://islandpress.org"><U><FONT 
  color=#0000ff>http://islandpress.org</U></FONT></A></P>
  
<P>TNC. 2007.&nbsp;<EM>Conservation Action Planning Toolbox. 5. 
  Complete&nbsp;Situation Analysis.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </EM><A 
  href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_5"> http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_5</A></P>
  
<P>WWF. 2006. <EM>Basic Guidance for Step 1.4 Situation 
  Analysis</EM><BR>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://assets.panda.org/downloads/1_4_situation_analysis_11_08_05.pdf">http://assets.panda.org/downloads/1_4_situation_analysis_11_08_05.pdf</A></P></BLOCKQUOTE>


<br>
<HR>
<H3 dir=ltr>Results Chains</H3>
Miradi software also helps practitioners to use the results chain tool developed by Foundations of Success. More information about results chains can be found in:
<br>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Foundations of Success. 2007. <EM>Using Results Chains to Improve Strategy Effectiveness: An FOS How-To Guide.</EM> </FONT><A href="http://www.fosonline.org/resource/using-results-chains"><U><FONT 
  color=#0000ff>http://www.fosonline.org/resource/using-results-chains</U></FONT></A></P>

 <P>WWF. 2005. <EM>Basic Guidance for Tools: Results Chains.</EM><BR>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://www.panda.org/standards/2_1_results_chain">http://www.panda.org/standards/2_1_results_chain</A></P></BLOCKQUOTE>

