<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>More Information</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>About the More Information Pages</H3>
The More Information Pages are context sensitive to the view that you are currently in. As the name implies, they provide additional material describing the specific step(s) in the adaptive management cycle as well as links to further reading on the topic.
<br>
<br>
<HR>

<H3>CMP<EM> Open Standards</EM></H3>
<P>Miradi software is being developed to assist conservation practitioners to go through the adaptive management process outlined in the CMP's <EM>Open Standards for the Practice of Conservation</EM>.&nbsp; You can download a copy 
of the latest version at:</P>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>CMP. 2008. Open Standards for the Practice of 
  Conservation, v 2.0.<BR>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.conservationmeasures.org/wp-content/uploads/2010/04/CMP_Open_Standards_Version_2.0.pdf">http://www.conservationmeasures.org/wp-content/uploads/2010/04/CMP_Open_Standards_Version_2.0.pdf</A></P></BLOCKQUOTE>

<P>Many of the CMP members also have their own version of the standards as well as specific guidance materials for many of the steps as shown below.</P>
<br>
<HR>
<H3>The Nature Conservancy (TNC)</H3>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>TNC.&nbsp;2005.&nbsp; <EM>Conservation Action Planning: Developing 
  Strategies, Taking Action, and Measuring Success at Any Scale. Overview of 
  Basic Practices.&nbsp;<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A 
  href="http://conserveonline.org/workspaces/cbdgateway/cap/resources/1/TNC_CAP_Basic_Practices.pdf/download">http://conserveonline.org/workspaces/cbdgateway/cap/resources/1/TNC_CAP_Basic_Practices.pdf/download</A></P>
  <P>Extensive guidance materials are also available 
  at:<BR>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://conserveonline.org/workspaces/cbdgateway/cap/resources">http://conserveonline.org/workspaces/cbdgateway/cap/resources</A>&nbsp;</P></BLOCKQUOTE>


<br>
<HR>
<H3>Wildlife Conservation Society (WCS)</H3>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Extensive guidance materials are available at:<BR>&nbsp;&nbsp;&nbsp;&nbsp; 
  <A 
  href="http://wcslivinglandscapes.com/">http://wcslivinglandscapes.com/</A></P></BLOCKQUOTE>

<br>
<HR>
<H3 dir=ltr>WWF</H3>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P dir=ltr>WWF. 2006. <EM>WWF Standards of Project and Programme 
  Management.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards/complete">http://www.panda.org/standards/complete</A></P>
  <P dir=ltr>Extensive guidance materials are also available 
  at:<BR>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> 
</P></BLOCKQUOTE>


<br>
<HR>
<H3 dir=ltr>Foundations of Success (FOS)</H3>

<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Margoluis, R., and N. Salafsky. 1998. <EM>Measures of Success: Designing, 
  Managing, and Monitoring Conservation and Development Projects. </EM>Island 
  Press, Washington, DC.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </FONT><A 
  href="http://islandpress.org"><U><FONT 
  color=#0000ff>http://islandpress.org</U></FONT></A></P>
  <P>Extensive guidance materials are available in the resources&nbsp;section 
  of:<BR>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://fosonline.org">http://fosonline.org</A></P></BLOCKQUOTE>
