<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/workshop48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Workshop Hints</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>About the Workshop Hints Pages</H3>
Computer software such as Miradi can be a great tool for helping individuals or small project teams to go step-by-step through a complex process like that presented in the <EM>CMP Open Standards.&nbsp;</EM>We have found, however, that 
software does not work very well if you are working with a group of more than two or three people.&nbsp;Too often, it seems that if you use software with a larger group, even if you are projecting the display in large size, most people 
in the room become passive observers, watching the person at the keyboard go through the steps.

<P>To this end, we strongly recommend that if you are working with more than three people, you should NOT use Miradi as your primary work environment.&nbsp;Instead, you need to use basic workshop tools like flip charts and sticky tarps.&nbsp;You can still use Miradi software, however, as a recording device to capture the work that goes on in the workshop setting.</P>

<P>To this end, the context sensitive Workshop Hints pages will give you advice on how to develop and run a workshop covering each step in the <EM>CMP Open Standards</EM>.</P>

<br>
<hr>
<H3>Types of Workshops</H3>
<P>There are three main types of workshops that people commonly hold, each with its own set of logistical challenges.&nbsp;All four, however, involve going through the basic step-by-step process outlined in the <EM>CMP Open Standards</EM> and in Miradi.</P>

<OL>
  <LI><STRONG>Basic Project Workshop</STRONG> - Taking a project team that typically consists of 3-10 individals through the steps.&nbsp;In these workshops, most work will take place in plenary sessions (everyone meets 
  together).</LI>

  <LI><STRONG>Multi-Project Workshop</STRONG> - Bringing together a number of projects together (typically 2 to 8) so that they can go through the steps together.&nbsp;In these workshops, although instruction may happen in plenary, 
  most work will take place in breakout groups,&nbsp;punctuated with report-back sessions.&nbsp;This approach has the advantage of creating economies of scale because one or two trainers can reach out to multiple projects. It also 
  enables the project teams to interact with and learn from one another.</LI>

  <LI><STRONG>Large-Project Workshop</STRONG> - Taking a project team that consists of a large number of stakeholders (often 25-50) through the steps.&nbsp;In these workshops, it is often necessary to divide the team into smaller sub-teams that each work on one or more targets and associated chains of factors.</LI>
</OL>

<P>In addition to the basic workshops outlined above, there are also several variants:</P>

<OL>
  <LI><STRONG>Training&nbsp;Course </STRONG>- Teaching students and other people interested in learning how to apply the<EM> CMP Open Standards</EM> through a basic training course.&nbsp;In these courses, small groups of students will go through the steps using one or more "practice" projects.</LI>

  <LI><STRONG>Distance Learning</STRONG> - Teaching practitioners and students 
  how to apply the <EM>CMP Open Standards</EM> through a self-directed online 
  training program.</LI>
</OL>

<br>
<hr>
<H3>Coming Attractions</H3>
<P>In future versions of Miradi, we will provide sample&nbsp;agendas for different kinds of workshops as well as links to training presentations and other training materials.</P>
<P>&nbsp;</P>