<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>Map View - Demo</h3>

This view will enable you to develop spatial maps of your project site. As shown by the screen shots on the 
tabs below, functions in this view will enable your team to:
<UL>
  <LI>Obtain a base map of your project site</li> 
  <LI>Outline the scope of your project area</li> 
  <LI>Show targets, threats, and other objects on the map as 
  points or polygons</LI></UL>

<P>Note that Miradi will <U>not</U> recreate the 
full&nbsp;functionality of&nbsp;sophisticated Geographic Information Systems 
(GIS) programs.&nbsp; It will, however, be able to import files produced using 
common formats.&nbsp; Furthermore, Miradi will link information generated in 
other views to the map, potentially allowing you to do things like:</P>
<UL>
  <LI>Conduct basic spatial analyses (union or intersection of 
  polygons, etc)</LI>
  <LI>Show how target or threat&nbsp;status varies over your 
  project site</LI> 
  <LI>Depict the spatial "footprint" of a given strategy 
  or objective</LI> 
  <LI>Prioritize strategies and actions or monitoring 
  work&nbsp;in different sections of your project area</LI> 
  <LI>Upload project information to spatially referenced 
  databases</LI></UL>
</BODY></HTML>
