<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/workshop48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Workshop Hints for Viability Analysis</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>Viability Analysis in a Workshop</H3>
Viability analysis can be a challenging step to accomplish in a workshop setting.&nbsp;In a perfect world, defining the basic viability for a target requires some specialized knowledge about the ecology of that target.&nbsp;As a result, people without this knowledge may feel bored or intimated by the discussions among the folks who do have the knowledge.<br>

<P>If you have people with expertise in particular targets, you can divide into groups and assign each group one or more targets that fit their expertise.&nbsp;If you do not have have experts at your workshop, however, you may just want to try to quickly block out the basic structure of the viability analysis for each target and then try to assemble smaller teams later on to complete the analysis.</P>

<P>It is often helpful to use flipcharts to capture the discussion of indicators and indicator ratings and then to type this information into Miradi to capture it.</P></BODY></HTML>
