<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<p>
This software is 
being developed as a joint venture between members of The Conservation Measures 
Partnership (<A 
href="http://www.conservationmeasures.org">www.conservationmeasures.org</A>) and 
Benetech (<A href="http://www.Benetech.org">www.Benetech.org</A>) for 
conservation practitioners around the world.</P>

<table width='100%'><tr><td align='center'>

<table cellpadding=20>
<tr>
<td align='center'>
<IMG height=64 alt="" hspace=0 
src="icons/TNC64.png" 
width=128 align=absMiddle 
border=0>
</td>

<td align='center'>
<IMG 
src="icons/wcs-64.gif" width=63 height=64 border=0>
</td>

<td align='center'>
<IMG 
src="icons/WWF-64.jpg" width=49 height=64 border=0>
</td>
</tr>
</table>

<table cellpadding=20>
<tr>
<td align='center'>
<IMG height=48 alt="" hspace=0 
src="images/Umbrella/benetech48.png" 
width=182 align=absMiddle 
border=0>
</td>

<td align='center'>
<IMG 
height=59 alt="" hspace=0 
src="icons/FOS-64.gif" 
width=75 align=absMiddle 
border=0>
</td>

<td align='center'>
<IMG height=64 alt="" hspace=0 
src="icons/RARE-64.jpg" 
width=146 align=absMiddle border=0>
</TD>

</tr>
</table>

</td></tr></table>
