<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  
</strong></p>

<P><STRONG><FONT size=4>License and Copying</FONT></STRONG><BR>
Miradi is distributed under the terms of the GNU General Public License version 3,
as published by the Free Software Foundation.  
Miradi is distributed in the hope that it will be useful, but without any warranty; 
without even the implied warranty of merchantability or fitness for a particular purpose.
</P>

<P><STRONG><FONT size=4>Updates and More Information</FONT></STRONG><BR>
</STRONG>Before running this program,&nbsp;check that you have&nbsp;the latest version 
at <A href="https://miradi.org/download">https://miradi.org/download</A>.&nbsp;You can also find more 
information about this software program at <A href="http://www.miradi.org">www.miradi.org</A>&nbsp;or 
by e-mailing <A href="mailto:info@miradi.org">info@miradi.org</A>.&nbsp;Please send suggestions 
and&nbsp;bug reports&nbsp;to <A href="mailto:feedback@miradi.org">feedback@miradi.org</A>.</P>

<P><STRONG><FONT size=4>About Miradi</FONT><BR>
</STRONG>This software program is being developed 
to assist conservation practitioners to go through the adaptive management process outlined in the 
CMP's <EM>Open Standards for the Practice of Conservation</EM>.&nbsp;To obtain a copy of the latest 
version of these standards, go to 
<A href="http://www.conservationmeasures.org"><U><FONT color=#0000ff>www.conservationmeasures.org</U></FONT></A>.
&nbsp