<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<H2>
<table><tr>
<td>
<IMG hspace=20 src="icons/cmpstandards48.png" width=48 height=47></IMG> 
</td>
<td>
<h2><EM>The CMP Open Standards for the Practice of Conservation</EM></h2>
</td>
</tr></table>
</H2>
<HR>
<H3>Introduction</H3>
<P>In order to achieve our goals, the conservation community must determine the 
extent to which our actions are working - and we must be able to diagnose why 
some actions succeed while others do not. In recent years, there has been great 
convergence among conservation organizations in thinking about how best to plan, 
implement, and assess conservation actions in the context of a project 
cycle.</P>
<P>Making the most of the extensive, trial-and-error experience gained by 
conservation organizations while designing, implementing and appraising their 
conservation projects,&nbsp;the members of the Conservation Measures Partnership 
(CMP)&nbsp;have developed a set of project cycle or adaptive management open 
standards that are reflected in the work of all of our organizations and are, we 
believe, fundamental to effective conservation. These <EM>Open Standards for the 
Practice of 
Conservation</EM> are less a recipe 
that must be followed exactly than a framework and guidance for conservation 
action.</P>
<table border='0'>
<tr>
<td valign='top'>
<P><br>Our goal in developing these <EM>Open Standards</EM> is to bring together 
common concepts, approaches, and terminology in conservation project design, 
management, and monitoring in order to help practitioners improve the practice 
of conservation. In particular, these standards are meant to provide the 
principles, tasks, and guidance necessary for the successful implementation of 
conservation projects. As members of CMP, we hope that by developing these open 
standards, our colleagues in our respective organizations - and across the 
conservation landscape - will have clear guidance on how to maximize the 
effectiveness and efficiency of their projects for maximum conservation gain. In 
addition, we anticipate that these standards will comprise the foundation of a 
useful conservation audit process.</p><br><p>We have organized the main ingredients of these open standards - principles, 
tasks, and guidance - into seven steps that comprise the project management 
cycle including conceptualization, planning, implementation, analysis, 
adaptation, communication, and iteration (go to <A 
href="http://www.ConservationMeasures.org"><U><FONT 
color=#0000ff>www.ConservationMeasures.org</U></FONT></A> to download the full 
version of the standards). Although we present the standards as a linear series 
of steps or stages, the entire process is rarely applied in a linear fashion 
from start to finish - instead it is typically only a rough approximation of the 
more complex series of back-and-forth movements that a project goes through.</P>
</td>
<td width='410'>
<IMG hspace=20 src="images/standards/cmp-cycle2-1-400.png" 
width=350 height=321 align=right vspace=20 border=0>
</td>
</tr>
</table>

<P>&nbsp; 
<HR>
<H3>The <EM>Open Standards</EM> in Miradi</H3>
<P>These <EM>Open Standards</EM>&nbsp;provide the basis for the Step-by-Step 
interview in the Miradi Software.&nbsp; The following table lays out the basic 
principles and tasks for each step of the <EM>Open Standards.&nbsp; </EM></P>
<P><FONT face=Arial><STRONG>CMP&nbsp; Open Standards for the Practice of 
Conservation, Version 2.0<BR></STRONG><FONT size=2>Tasks that are currently 
covered by the current version of the Miradi Software are shown in <FONT 
color=#0000ff>blue text</FONT>.</FONT></FONT></P>
<IMG src="images/standards/standardstable.png" width=893 height=543>
<p></p><HR>
<H3 align=left>&nbsp; 
The Relationship Between the CMP<EM> Open Standards</EM> and 
Organizational-Specific&nbsp;Versions</H3>
<P align=left>The members of the Conservation Measures Partnership (CMP) each 
have their own organizational version of the CMP <EM>Open 
Standards.&nbsp;</EM>There is a long and complex history of exchange between 
these organizational versions and the CMP "generic" version of these 
standards.&nbsp;For example, The Nature Conservancy started with its 5-S process 
in the 1990s.&nbsp;Similarly, Foundations of Success staff published the 
<EM>Measures of Success</EM> approach around the same time. WWF and WCS, by 
contrast, had no one set of standards; instead each office had its own 
version.</P>
<P align=left>The CMP <EM>Open Standards </EM>were initially developed by 
bringing together commonalities across these different versions into Version 1.0 
of the <EM>Open Standards.</EM>&nbsp; However, at that point, WWF then took this 
Version 1.0 and refined it to meet their needs, developing the <EM>WWF Project 
and Programme Standards</EM> shown below.&nbsp;Similarly, TNC took their 5-S 
process and refined it to&nbsp;fit the <EM>Open Standards</EM>, producing the 
<EM>TNC Conservation Action Planning (CAP)&nbsp;Approach</EM> shown below. And 
the WCS Living Landscapes Program developed their own version of 
the&nbsp;project cycle shown below.&nbsp;The CMP the evaluated the changes made by WWF, TNC, FOS, WCS&nbsp;and others, and used them to produce Version 2.0 of the <EM>Open Standards</EM> that reflect what has been learned from these experiences. As a result, each organization has a version of the standards that meets their specific needs, but at the same time, all can learn from one another.&nbsp; A further benefit is that members of each organization can use Miradi Software in their work with only minimal 
"translation" being needed.</P>
<P align=left>&nbsp;&nbsp;
<IMG src="images/standards/tnc-cycle-300h.png" width=343 height=300 align=left vspace=20>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<IMG height=300 src="images/standards/wwf-cycle-300h.png" width=304 align=right vspace=20></P>
<P align=center><IMG height=300 src="images/standards/cmp-cycle1-2-300h.png" width=327 align=middle></P>
<P align=center><IMG height=300 src="images/standards/mos-cycle-300h.png" width=278 align=right>
<IMG height=300 src="images/standards/wcs-cycle-300h.png" width=415 align=left>
</P>
