<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<BODY>
<table><tr>
<td>
<img border='0' src='icons/coming attract48.png' width='48' height='36' hspace=10 ></img>
</td>
<td>
<H2>Coming Attractions</H2>
</td>
</tr></table>

<H3>Future Improvements to Miradi Desktop Software</H3>

<P>With the release of Version 4.0, Miradi desktop software has largely completed its initial development phase. That said, we will be continuously working to develop and improve many aspects of the software and issuing new releases on a periodic basis. A few highlights that we are working on include:</P>

<UL>
  <LI><STRONG>Upgrade of the Work Plan View</STRONG>&nbsp;- Major enhancements to the way in which data is entered and reported on in this view.</LI>  
  <LI><STRONG>Enhanced Import and Export</STRONG> - Improved ability to export information in various formats including to automatically generate documents that contain the core of material needed for reports to key conservation donors and organizations.</LI>
  <LI><STRONG>Tools to Support Later Steps in the CMP Open Standards</STRONG> - The current version of Miradi is largely focused on the planning phase of the adaptive management cycle; future tools will help in the analysis and learning phases.</LI>
  <LI><STRONG>Translations to Additional Languages</STRONG> - Miradi is now available in a variety of different languages such as Spanish, Chinese, and Bahasa Indonesia. See the download page on the Miradi.org website for more details. If you are interested in helping us develop a version for your language, please contact us. 
  <LI><STRONG>Adaptations to Other Disciplines</STRONG> - Miradi currently focuses on biodiversity conservation projects. However, the adaptive management approach underlying Miradi undoubtedly will be of use to other disciplines as well, such as development projects, public health projects, or many others. If you are interested in helping us to develop a version for your field, please contact us.</LI></UL>

<P>If you have additional ideas or requests, please contact us at:&nbsp;<A 
href="mailto:feedback@miradi.org">feedback@miradi.org</A>.&nbsp; And please check the Miradi website (<A href="http://www.Miradi.org">www.Miradi.org</A>) 
for the latest version of the software.</P>


<p></p>

<H3>Bringing Miradi Data Online to Manage Programs</H3>

<P>Although Miradi Desktop software provides a powerful tool to manage individual conservation projects, there is a growing need to aggregate and combine data from individual projects into the broader data sets needed to design, manage, monitor, and learn from collections of projects (aka "programs"). To this end, the Miradi development team is participating in a new venture that is developing a web-based system that enables Miradi users to upload their projects to an online database. This database will enable project teams to:</P>

<UL>
  <LI><STRONG>Enter Data in a Consistent Fashion</STRONG> - Coordinate the way data is entered into multiple Miradi files within a progam.</LI>
  <LI><STRONG>Seach For, Download & Learn from Similar Projects</STRONG> - Find other projects that have done similar work so that you do not have to "reinvent the wheel."</LI>
  <LI><STRONG>Work Collaboratively on Projects</STRONG> - Have multiple team members work on and update a Miradi project file in a coordinated fashion.</LI>   
  <LI><STRONG>Undertake GIS and Other Online Analyses</STRONG> - Use online tools to extend currently available desktop analyses. (For example, creating a Miradi-linked GIS platform to help make the Open Standards more spatially explicit.)</LI></UL>

<p>Moving beyond indvidual "child" projects, this database will also enable "parent" program managers to:</p>

  <LI><STRONG>Aggregate Project Information into Program Plans</STRONG> - Create higher level program plans that roll-up information from their component projects.</LI>   
  <LI><STRONG>Track Project & Program Performance</STRONG> - Monitor and manage project and program implementation.</LI>
  <LI><STRONG>Generate Reports Needed to Manage the Program</STRONG> - Obtain and analyze data needed to create information for management and performance reporting purposes.</LI>
</UL>

<p>Again, please check the Miradi website (<A href="http://www.Miradi.org">www.Miradi.org</A>) 
for the latest updates on this web-based system.</P>



</BODY>
