<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

At this point, you should have already developed your basic work plan showing <a href='Definition:Activity' class='definition'>activities</a>/<a href='Definition:Method'  class='definition'>methods</a> and <a href='Definition:Task' class='definition'>tasks</a> and assigning <a href='Definition:Resource' class='definition'>resources</a> to each.

<p>To add budget detail to an activity/method or task, click on the <code class='toolbarbutton'>&lt;Work&nbsp;Plan&gt;</code> tab in the Work Plan View and select the item that you want to focus on. Using the drop down menu, you can then assign an <a href='Definition:AccountingCodes' class='definition'>accounting code</a>, <a href='Definition:FundingSources' class='definition'>funding source</a>, and Category #1 and Category #2 values for that resource.</p>



<p>If you have already added the cost per unit for a resource, at this point you should see the total cost for that resource for the year (if planning by years) or for the quarter and rolled up for the year (if planning by quarters). The annual amount is then displayed in the table at the top of the page. Click on the <code class='toolbarbutton'>&lt;Resources&gt;</code> tab and select the resource in the table if you need to edit the cost per unit information.</p>

<p class='hint'><b>Hint:</b>In many organizations, salary levels for team members can be confidential. In this current version of Miradi, be aware that all users of the file will have access to any salary information that is entered. One temporary solution might be to use mid-points of published salary ranges. Future versions of Miradi will protect the salary information so that only managers can access it. 


