<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
<i>Actual expenditures</i> are backwards looking reports on the money you spent for the activities/methods and tasks you undertook to implement your strategic and monitoring plans.  They typically can be organized in several ways:

<ul>
<li><strong>By Accounting Code -</strong> Reports of money spent in each accounting code category.  These are useful for reporting to your organization's accounting department and to donors.</li>          
<li><strong>By Activity -</strong> Reports of money spent by activity, strategy, objective, and/or goal.  This is the basis for Activity Based Costing (ABC) and is essential to improve management effectiveness.</li> 
<li><strong>By Funding Source -</strong> Reports of money spent by each funding source.  These are useful for managing your cash-flow and for reporting to donors.</li>  
<li><strong>By Other Miscelaneous Categories -</strong> Many organizations have more complex accounting systems.  Miradi includes 2 additional budgeting categories that can be used to further clasify expenses.
<li><strong>Against Budgets -</strong> Reports of money spent against the projections in your budgets. These are useful for managing your cash-flow and for improving your forecasting ability over time.</li>
</ul>
<p><strong>The Analysis Tab:</strong>  This tab allows for the creation of more complex views of the budget data by grouping the expenses at various category levels.  For instance, view which resources are associated to a given funding source, or see how expenses break down amoung your accounting codes per funding source.  These reports can then be exported as RTF or Tab delimited files for use in other accounting systems.
</div>

