<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

To develop a budget, you will first want to create <a href='Definition:AccountingCodes' class='definition'>accounting codes</a> and <a href='Definition:FundingSources' class='definition'>funding sources</a>.

<p>In the <code class='toolbarbutton'>&lt;Accounting&nbsp;Codes&gt;</code> tab at the top of the Work Plan View, if your project already has accounting codes from your home organization, you can use the <code class='toolbarbutton'>&lt;Import&nbsp;Accounting&nbsp;Codes&gt;</code> button to import a <a href='Definition:TabDelimitedFile' class='definition'>tab delimited text file</a> (2 columns, code followed by description). If you have to create codes from scratch, click on the <code class='toolbarbutton'>&lt;Create&nbsp;Accounting&nbsp;Code&gt;</code> button to add a new one and then type the code and the label in the box at the bottom of the page. Repeat for other codes as needed.</p>

<p>Miradi also supports two additional Categories that can be used to further classify expenses.  This can be used to denote a matching contribution, or an extra level of detail in your accounting systems for example.  Category #1 and Category #2 are managed in the same way as Funding Sources.</p>
			
<p>On the <code class='toolbarbutton'>&lt;Funding&nbsp;Sources&gt;</code> tab at the top of the Work Plan View, click on the <code class='toolbarbutton'>&lt;Create&nbsp;Funding&nbsp;Source&gt;</code> button to add a new one and then type the code (if needed) and the label in the box at the bottom of the page. Repeat for other funding sources as needed.</p>		