<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Future versions of Miradi will allow you to generate reports on <a href='Definition:ActualExpenditures' class='definition'>actual expenditures</a> across different time periods by accounting code, activity, funding source, the 2 additional categories and against budgets.

<p>The Analysis tab allows for the review all work and expenses that have been assigned to a given Project Resource, Accounting Code, Funding Source and the two additional categories for a given time period.  This should aid in your planning by helping to determine your Resource and Funding needs per fiscal quarter or year.  It can also help you analyze how your projected project costs are being applied to help refine per strategy implementation costs or to identify what types of activities account for the largest expenses.</p>
<p class='hint'><b>Hint:</b>You can create individual work plans by using the <code class='toolbarbutton'>&lt;Filter&nbsp;by&nbsp;Resource...&gt;</code> button and selecting the resources you want to view.  This will update the Work Plan to only show work days and budget totals for the selected resource(s).</p>