<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>

Some hints for working with your budget include:

<p class='hint'><b>Hint:</b> The same resource may have different accounting codes or funding sources for different activities&nbsp;/&nbsp;methods or tasks.  It is possible to view the amount of work, expenses, and total budget amounts that have been assigned to a Project Resource, Accounting Code or funding source for any given period of time by selecting the appropriate tab and using the expandable column groups to view the rolled up totals.</p>

<p class='hint'><b>Hint:</b> If you need to adjust the planning horizon for your project, go to the project start and end date fields on <code class='toolbarbutton'>&lt;Planning&gt;</code> tab in the Summary View or by going to Edit->Preferences and selecting the Planning tab. You can also use the tab to adjust the currency type and the number of decimal places displayed.  However, if you have already entered estimates for work or expenses and change the project start or end dates to before or after those estimates, they will no longer be displayed.  You can recover them by changing the dates back to include those time periods.</p> 

			
</div>

