<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

<i>Accounting codes</i> are a set of categories developed by an organization to categorize and track expenses. They typically include hierarchical strings of numbers and/or letters (the code) along with a text description.  For example:

<p><strong>200.000 Core Salaries</strong><br></br>
201.000  Directors' salaries<br></br>
202.000  Staff salaries<br></br>
</p>          
			
<p>Information that is tracked through the use of accounting codes can include:</p>          
			
<ul>
<li><strong>Expense Type -</strong> Salary, travel, equipment, etc. This information is often used to help prepare reports to donors and/or tax returns.</li> 
<li><strong>Department -</strong> The branch of the organization that is incurring the expense.</li>          
<li><strong>Funding Source -</strong> Some organizations also use their codes to specify the specific funding source (although Miradi also treats this separately).</li>          
<li><strong>Other Information -</strong> Categories that the organization wants to track.</li>          
</ul>
          
<p class='hint'><b>Hint:</b> It is likely that your home organization will already have a chart of accounts that they will want you to use.</p>
          
<p>Funding sources are, as the name implies, the sources of money available to your project.  They are typically divided into:</p>
<ul>
<li><strong>Restricted sources -</strong> Funds such as a grant from a donor that are dedicated to a specific project or set of activities.</li>          
<li><strong>Unrestricted sources -</strong> Funds that can be used in any way the project chooses.</li>          
</ul>

<p>Some organizations may also want to designate budget centers as funding sources.</p>
       
</div>

