<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

<h3>Functions of the Work Plan Tab</h3>
The Work Plan tab in the Work Plan view introduces a temporal grid as the primary working area.  There are three groups of columns:
<UL>
<LI><strong>Work Units:</strong> This group of columns is used to enter the amount of work, entered as a number of days that will be required to implement a strategy or indicator.</li>
<LI><strong>Expenses:</strong> This group of columns contains expenses, entered as dollars (or your preferred currency).  This is typically used to estimate the cost of non human resources for the project.</li>
<LI><strong>Budget Totals:</strong> This group of columns is read only.  They will display the calculated total cost for the work and expenses that have been assigned to your project.
</UL>
<p>All column groups can be expanded and collapsed by clicking on the plus/minus icons in the header row.  This will allow you to view and enter work and expense estimates at whatever granularity of time you prefer: Project Total, Years, Quarters, Months and even specific Days.</P>
<p class='hint'><b>Hint:</b>You can control which groups of columns are displayed by clicking the <code class='toolbarbutton'>&lt;Edit&nbsp;Customize&nbsp;Table...&gt;</code> button and checking/unchecking the groups.
</div>

