<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

An <i>activity</> is an action that is carried out to accomplish one or more of a project's strategies. Activities should capture a discrete package of work that is assigned to one or more specific individuals to complete over a relatively short time frame. Each activity should be defined such that:

<ul>
<li>It has clearly identified beginning and end points</li>
<li>The time and cost needs can easily be estimated</li>
<li>Its progress and completion can be easily assessed</li>
<li>It is distinct from other activities.</li>
</ul>

<p>In many cases, breaking down a strategy into its component activities is a relatively straight 
forward process and the full suite of necessary activities can be identified. In some cases, 
however, where the work is more complex or new to the group, only the first few actions to launch the work may be apparent. In addition, if you find that an activity is difficult to define as outlined above, you may have to break it down into smaller <i>tasks</i>.
</p>
</div>

