<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

<h3>Hints for the Work Plan View</h3>
<p>You can specify if your workplan should show data from your Conceptual Models, Results Chains or both by going to the Planning tab in <code class='toolbarbutton'>&lt;Edit/Preferences&gt;</code> and selecting from the <strong>Include Work Plan Data From:</strong> drop down chooser.</p>

<p>You can also specify whether to display only Action related rows (Strategies and Activities) or Monitoring related rows (Indicators and Methods) by clicking the <code class='toolbarbutton'>&lt;Customize&nbsp;Table...&gt;</code> button and making a selection in the Include Data From drop down menu.  The project totals values will only reflect the data that is being displayed.</p>

<p>Click on the Work Plan tab to <strong>see an overview of your plan.</strong> In the tree, clicking on the + and - symbols enables you to <strong>expand</strong> or <strong>collapse</strong> different parts of the hierarchy. Items in the table are based on your results chains and will include the strategies/indicators and their activities/methods and tasks.</p>

<p>The work plan table allows you to view and edit the work and expenses required to achieve your results chains at any level of detail and uses the concept of <strong>roll up rules</strong>.</p>
<p>Estimates that are entered at the same level of hierarchy in the project tree, or in the temporal grid will be added up and displayed as a sum total at the next level up in hierarchy.</p>
<p>If you enter an estimate at a finer level of detail (lower level of hierarchy), the calculated total will then be displayed for the higher level. Original higher level estimate data is retained for later comparison, but is ignored by roll up rules and not used to calculate totals and will display with strikethrough text in the lower panel</p>

<p>Work Units are typically estimated in number of days.  If you would prefer to do your estimates using the concept of Full Time Equivalents (FTEs), you can right click in any work units cell and select <code class='toolbarbutton'>&lt;Fraction&nbsp;of&nbsp;FTE...&gt;</code> to bring up a calculator that will assist you in conversion of FTE values into days.</p>

<p>Expenses are estimated in the default project currency.  The same roll up rules that apply to Work Units also apply to expenses.</p>

<p class='hint'><b>Hint:</b>The values in the When column are based on fields that are populated in the Work Units columns only.  It is possible to specify a when value for any row that is not being calculated or already has data in the work columns using the When pop up.  This will place zeros in the appropriate cells in the work columns that you can then override with estimates at a later time.
<p class='hint'><b>Hint:</b>The values in the Who column also roll up from lower levels in the hierarchy so that it is easy to see all the resources that will be required for a given strategy or indicator.


<p><table width='100%'><tr><td align='center'>
<img src='images/WorkPlanWizard/workplan-nav.png' width='500' height='386'></img>
</td></tr></table><p>

</div>

