<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Just as each <a href='Definition:Strategy' class='definition'>strategy</a> will have one or more <a href='Definition:Activity' class='definition'>activities</a> associated with it, each monitoring <a href='Definition:Indicator' class='definition'>indicator</a> will also have one or more <a href='Definition:Method' class='definition'>methods</a> associated with it.

<p>In the <code class='toolbarbutton'>&lt;Work&nbsp;Plan&gt;</code> view, select an indicator that you want to focus on. Think about the specific methods that you will have to undertake to measure this indicator. Click on the 
<code class='toolbarbutton'>&lt;Create...&gt;</code> button and the click <code class='toolbarbutton'>&lt;Create&nbsp;Method&gt;</code> to add a new method and then type the name of the method in the label box in the bottom panel. If necessary, you can have multiple methods for each indicator. Repeat for other indicators as needed. 

<p>If necessary, you can also highlight a method and click on the <code class='toolbarbutton'>&lt;Create...&gt;</code> button and then click <code class='toolbarbutton'>&lt;Create&nbsp;Task&gt;</code> to add <a href='Definition:Task' class='definition'>tasks</a> under this method. (If you are really detail oriented, you can even create sub-tasks and sub-sub tasks under a task.)</p>
