<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

A <i>resource</i> is a person or group that is needed to complete an activity/method or a task.  Miradi will be able to help you build a detailed budget for your project by calculating the cost for the estimated work that has been assigned to each resource.

<p class='hint'><b>Hint:</b>To calculate a Daily Rate for Project Resources that are paid an hourly rate, you can multiply the hourly rate by the number of hours in the average/standard work day.  For Project Resources that are paid a yearly salary, it is most common to divide the salary by 240, which is approximately how many work days there are in a standard American work year.</p>
</div>

