<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<h3>Welcome to the Work Plan View</h3>
A <a href='Definition:WorkPlan' class='definition'>work plan</a> shows the specific 
<a href='Definition:Activity' class='definition'>activities</a> 
/
<a href='Definition:Method' class='definition'>methods</a> 
and 
<a href='Definition:Task' class='definition'>tasks</a>
that you need to undertake to implement your strategic and monitoring plans.

<p>
The work plan view also enables you to develop a budget for your project
(in the future, it will also enable you to manage actual expenditures).
The budget shows the planned costs for the activities/methods and tasks
that you need to undertake to implement your strategic and monitoring
plans. These work units and expenses can be categorized by funding
sources, accounting codes, and two additional user-defined budget
categories. 
</p>

<p>As a general rule, you should have a detailed work plan for the coming year and a rough plan for the years after that.  </p>

<p>The <strong>Analysis</strong> tab supports the creation of custom views of your work plan data by specifying how you would like to group the work units and expenses.  For example, it is possible to create a report showing salary expenses broken down by funding source and then accounting code.  
