<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Activities/methods and tasks are implemented by assigning <a href='Definition:Resource' class='definition'>resources</a> to them.

<p>To create a new resource, go to the <code class='toolbarbutton'>&lt;Project&nbsp;Resources&gt;</code> 
 tab in the Work Plan View. Click on the <code class='toolbarbutton'>&lt;Create&nbsp;Resource&gt;</code> button and the fill in the appropriate information below. You will want to fill out all of the fields.  The Resource ID field should contain the initials of the person or a short reference to the position that they hold.</p>

<p>To edit an existing resource, select the resource in the table and then edit the text below. To delete a resource, select the resource in the table and click on the <code class='toolbarbutton'>&lt;Delete&nbsp;Resource&gt;</code> button at the side of the page.</p>

<p class='hint'><b>Hint:</b> Resources can be either a person or a group or people.  In order to ensure that your project budget is accurate as possible, it will be necessary to provide a "Daily Rate" for each resource. Refer to the right panel for some hints on calculating daily rates for salaried and hourly resources. </p>

<p class='hint'><b>Hint:</b>It is possible to create work estimates for activities/methods and tasks without knowing the actual resource who will perform them.  Miradi will automatically assign the work to a "Not Specified" Project Resource.  This can be helpful in helping you estimate your required resources.  In some cases it might be helpful to create place holder resources like "Field Staff", assign work to that resource and then edit the resource details when you know who will actually performing that work.