<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Each <a href='Definition:Strategy' class='definition'>strategy</a> will have one or more 
<a href='Definition:Activity' class='definition'>activities</a> associated with it.

<p>In the Work Plan View, select the <code class='toolbarbutton'>&lt;Work&nbsp;Plan&gt;</code> 
tab and select a strategy that you want to focus on in the tree. Think about 
the specific activities that you will have to undertake to carry out this strategy.  Click on the 
<code class='toolbarbutton'>&lt;Create...&gt;</code> button and select <code class='toolbarbutton'>&lt;Create&nbsp;Activity&gt;</code> and then type the name of the activity in the item field in the bottom panel. Repeat this for other activities needed to implement this strategy as needed.

<p>If necessary, you can also highlight an activity and click on the <code class='toolbarbutton'>&lt;Create...&gt;</code> button and select <code class='toolbarbutton'>&lt;Create&nbsp;Task&gt;</code> to add <a href='Definition:Task' class='definition'>tasks</a> under this activity.  (If you are really detail oriented, you can even create sub-tasks and sub-sub tasks under tasks)</p>
