<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
There are several ways to assign an existing resource to a strategy, indicator, activity/method or task in the Work Plan View.  First, click on the 
<code class='toolbarbutton'>&lt;Work&nbsp;Plan&gt;</code> tab and select the item in the project tree for the strategy, indicator, activity/method or task that you want to focus on.

<p>You can either double click the blue Who cell to open a pop up where you can then click the check box for the resource(s) you want to add, or select the <b>Assignments</b> tab in the lower panel and click the <code class='toolbarbutton'>&lt;Assign&nbsp;Resource&gt;</code> button and select the resource from the drop down menu. </p> 

<p>You can add multiple resources if necessary. You can also use the <code class='toolbarbutton'>&lt;Leader&gt;</code> button on the <code class='toolbarbutton'>&lt;Who&nbsp;and&nbsp;When&gt;</code> sidetab to assign one resource to be the leader; the designated leader appears first in the upper column with an asterisk (*) by their name.</p>

<p>Once you have assigned resources, you can then allocate specific work days (orange columns) to that resource. Click in the appropriate cell and type in the number of work days.</p>

<p>You can also assign project expenses to any strategy, indicator, activity, method or task.  Expenses are planned purchases entered in the currency for the project and can be entered at any level of temporal detail by using the light green expenses columns.

<p>Work units are typically estimated in number of days.  If you would prefer to do your estimates using the concept of Full Time Equivalents (FTEs), you can right click in any work units cell and select <code class='toolbarbutton'>&lt;Fraction&nbsp;of&nbsp;FTE...&gt;</code> to bring up a calculator that will assist you in conversion of FTE values into days.</p>


