<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

<i>Methods</i> are specific techniques used to collect data to measure an indicator. Good methods meet the following criteria:

<ul>
<li><strong>Accurate: </strong>The data collection method has little or no margin of error.</li>
<li><strong>Reliable: </strong>The results are consistently repeatable - each time that the method is used it produces the same result.</li>
<li><strong>Cost-Effective: </strong>The method does not cost too much in relation to the data it produces and the resources the project has.</li>
<li><strong>Feasible: </strong>The method can be implemented by people on the project team.</li>
<li><strong>Appropriate: </strong>Acceptable to and fitting within site-specific cultural, social, and biological norms.</li>
</ul>

<p>Methods do not need to be complex or sophisticated - if you can get the information you need using a simple, inexpensive method, it is far preferable to do this than to choose a complex, expensive method.  While the information you gather may be less precise, it may be sufficient for the types of decisions you are making. When planning for measuring results, you need to keep in mind that it should be a relatively small portion of your project budget. If your methods for measuring results are too complex, you will not have enough money to implement actions and measure the results.</p>

</div>

