Welcome to the Diagram View!<br/>
<br/>
This view enables you to develop a<br/>
Conceptual Model of your project.<br/>
<br/>
To get started, click the &lt;Insert Target&gt;<br/>
button in the Control Bar to the left.<br/>
<br/>
To delete this box, click on it and<br/>
press &lt;delete&gt;.