An external error prevented Miradi from writing some project data. 
The project should be fine, although your most recent
change(s) may not have been saved. 
<br>
<br>

The most common cause is a conflict with some backup or anti-virus
software running in the background. If this error recurs, please
either avoid using Miradi while this background process is running, or
re-schedule the background process so it doesn't run when you are using
Miradi.
<br>
<br>

This error could also be caused by permissions problems, such as if the 
project directory is made readonly while the project is open. Or by 
opening a file inside the Miradi data directory with another application. 
It could also be caused by hardware problems, such as a failing disk drive 
or communications problems with a network drive.
<br>
<br>

<b>Miradi must now exit, but you should be able to restart the program.</b>
<br>
<br>
