<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
--> 

<h3>About Foundations of Success (FOS)</h3>

Foundations of Success is a not-for-profit organization committed to working with practitioners to improve the practice of conservation through the process of adaptive management.</p>

<p>We work with conservation organizations of all shapes and sizes to help them design, manage, monitor, and learn from their projects and programs. In addition we offer in-person and online training courses in adaptive management using the <i>CMP Open Standards</i> and Miradi Software.</p>

<p>For more information, visit our web site at <a href='http://www.fosonline.org'>www.fosonline.org</a>.</p>