<!-- 
Copyright 2005-2012, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  
  
<p>
Work units are typically estimated in number of days - this is the default setting for Miradi. Some organizations, 
however, use Full-Time Equivalents (FTEs), which measure an individual's workload on a project. So, 
for example, an FTE of 1.0 means that the individual will work full-time on that project, while an FTE 
of 0.5 means the individual will work half-time. 
</p>
<p>
If you would prefer to do your estimates using the concept 
of FTEs, you can right click in any editable work units cell (i.e., in blue or blank cell at the strategy level or lower) 
and select &lt;Fraction of FTE...&gt; to bring up a calculator that will help you convert FTE values into days. For example, if 
you have 240 FTE days in a year, and a team member will be dedicating 0.5 FTEs to this project, Miradi will assign 120 
days to that person for the year in question. You can specify how many FTEs are in a year under the &lt;Summary View&gt;, 
&lt;Planning Tab&gt;.
</p>