<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<body bgcolor="#DAEDF5">  
<div class=''>


<table cellpadding='10' bgcolor="#DAEDF5">
<tr>
<table cellpadding='10' bgcolor="#DAEDF5">
<td><img width='277' height='60' src='icons/MiradiShareLogo60px.png'></img></td> 
<td>Miradi Share <a href='http://www.miradishare.org'>www.miradishare.org</a></td>
</tr>
</table>
<tr>

<td colspan="2">
Miradi Share is a web-based software system that helps organizations adaptively manage portfolios of conservation projects and grants. 
Miradi Share builds on Miradi desktop software’s tools for designing, managing and monitoring individual conservation 
projects using The Open Standards for the Practice of Conservation. In particular, Miradi Share enables sibling projects 
within an overall program to build their individual plans using a common framework and vocabulary and to work collaboratively 
over the web. With Miradi Share, program managers can track and oversee the implementation of all the projects for which 
they are responsible, and can roll-up project information to compile performance reports to drive management decisions. 
And through Miradi Share, practitioners throughout the conservation community can share experiences and learn from one 
another. Miradi Share also provides a platform for new tools like online workplanning, archetypal results chains, 
and spatial analysis of Open Standards information.
<br/>
<br/>
All Miradi desktop users will be able to upload and share an individual project or browse through and download publically 
available projects for free. Miradi Share’s portfolio management tools are available through a software-as-a-service license.
<br/>
<br/>
To learn more or to start sharing your Miradi files, go to <a href='http://www.miradishare.org/'>www.miradishare.org</a> !!
</td>
</tr>

</table>
</div>
</body>