<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<ol>
<li>Your ConPro project has been successfully imported. 
You can now continue to work on your project in Miradi. 
You may wish to start by reviewing the information in the summary view and 
then cleaning up your conceptual model diagrams and building new result chain diagrams.
</li>

<li>
Miradi has created separate draft conceptual model diagrams 
for each conservation target plus one diagram showing “All on One Page”.  
Please note that there are checkboxes in the Control Bar 
for turning “Tags” on/off to filter the contents of the diagrams by overall threat rank.
</li>

<li>
Short animated, narrated Miradi tutorials are available at: 
<a href='http://elearn.tnc.org/cap/miradi/player.html'>http://elearn.tnc.org/cap/miradi/player.html<a>.  
Tutorials 46-50 provide guidance specific to ConPro-Miradi data exchanges.
</li>

<li>
Go to 
<a href='http://conservationgateway.org/Miradi'>http://conservationgateway.org/Miradi</a>  
for more details about the import process including, in particular, 
how information from various ConPro data fields are handled in Miradi.
</li>

<li>
If you have any problems or suggestions as to ways to improve this import process, 
please contact us at <a href='mailto:TNC@miradi.org'>TNC@miradi.org</a>.
</li>
</ol>
