<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>About Rare</h3>

Rare, a U.S.-based conservation organization, works globally to equip people in the world's most threatened natural areas with the tools and motivation they need to care for their natural resources. For the last 30 years, at more than 90 sites, and in more than 40 nations, Rare has focused as much on people as on science - addressing the underlying social and economic factors that create environmental threats. 

<p>Rare's approach has been to develop a suite of social marketing and business development tools that motivate local communities to protect their natural surroundings. Rare's signature Pride campaign builds grassroots support for environmental protection by training local conservation leaders in the use of commercial marketing tactics to build awareness, influence attitudes, and enable meaningful change. Pride campaigns produce a groundswell of support that leads to tangible conservation successes, such as new national parks, reform legislation, or reduction of threats from forest fires or over-fishing.</p>