<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='indented'>
<p>To use this tab, you have to first create a results chain in one of two ways:
<ol>
<li>You can <b>create a results chain from an existing strategy</b> in your conceptual model by selecting that strategy and then using the <code class='toolbarbutton'>&lt;Create Results Chain&gt;</code> command (available on the toolbar, the right mouse button menu, or in the actions menu) to create a results chain for it.</li>
<li>You can <b>create a blank results chain</b> by using the <code class='toolbarbutton'>&lt;Create Results Chain&gt;</code> command without first selecting a strategy.</li></ol>
</div>
