<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>About The Nature Conservancy (TNC)</h3>

The Nature Conservancy's mission is to preserve the plants, animals and natural communities that represent the diversity of life on Earth by protecting the lands and waters they need to survive.
 
<p>Since 1951, TNC has protected more than 117 million acres of land and 5,000 miles of rivers and operates more than 100 marine conservation projects globally.</p> 
 
<p>TNC uses the Conservation Business Planning framework to guide its project level work. This framework provides an objective, consistent and transparent accounting of conservation actions and the intended and actual outcomes of conservation projects. It enables project staff to responsively adapt their actions to improve strategy effectiveness and to achieve greater conservation impact by sharing lessons learned across projects. For more information, visit <a href="http://www.conservationgateway.org/ConservationPlanning/BusinessPlanning">http://www.conservationgateway.org/ConservationPlanning/BusinessPlanning</a>.</p>
