<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>About the Wildlife Conservation Society (WCS)</h3>

The Wildlife Conservation Society saves wildlife and wild places by understanding critical
issues, crafting science-based solutions, and taking conservation actions that benefit nature and humanity. 

<p>We save wildlife populations and species because they are integral to how nature works, are prized across most cultures, and are critical to many of the economic relationships that link people with nature. Wild places are valuable to us because these ecologically functional landscapes and seascapes are likely to provide the best and most viable homes for wildlife over the long haul.</p>

<p>Today WCS staff are at work in over 100 projects, in 53 nations across Africa, Asia, Latin America and North America.</p>
