<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<h3>About WWF</h3>

WWF was formed in 1961. It was the product of a deep concern held by a few eminent gentlemen who were worried by what they saw happening in our world at that time. Since those early days WWF has grown to be one of the largest conservation organizations in the world.  Currently there are more than 2000 WWF conservation projects underway around the world. The vast majority of these focus on local issues. They range from school nature gardens in Zambia, to initiatives that appear on the packaging in your local supermarket; from the restoration of orangutan habitats to the establishment of giant panda reserves.
 
<p>In this new millennium WWF continues to improve its work as it focuses on issues that are relevant to people around the world. Our initiatives aim to conserve some of the most important natural places on Earth. In complement to our placed-based work, WWF also focuses efforts on a set of ecologically, economically and culturally important species. WWF believes that targeting efforts to reduce humanity's footprint on our planet so that there are enough natural resources, space and air for people and other forms of life is also of prime concern. In all of our efforts, we try to understand the drivers of change so that our actions are well planned and executed.</p>

<p>All of our work involves partnerships of one sort or another. We team up with local non-profit agencies and other global NGOs. We form relationships with village elders, local councils and regional and national government offices. And in this day and age of globalization, critically, we work with businesses who are willing to change themselves and facilitate change in their sector.</p>

<p><b>WWF's Mission:</b>

<br>To stop the degradation of the planet's natural environment and to build a future in which humans live in harmony with nature, by:
<li>conserving the world's biological diversity</li>
<li>ensuring that the use of renewable natural resources is sustainable</li>
<li>promoting the reduction of pollution and wasteful consumption.</li>
