<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->



<h3>Intro to Schedule View - Demo</h3>

This view will enable you to develop schedules for implementing your project actions and monitoring as outlined in your work plan. As shown by the screen shots on the tabs below, functions in this view&nbsp;will enable your team to:
<UL>
  <LI>Develop a project calendar showing activities/tasks and major events&nbsp;on a given day, week, or month either for specific team members, or for the project as a whole.</li>
  <LI>Create a&nbsp;Gantt chart&nbsp;showing how different activities/methods and tasks&nbsp;link to one another</LI></UL>

<P>Note that Miradi will <U>not</U> recreate the full&nbsp;functionality of&nbsp;sophisticated&nbsp;project 
management&nbsp;programs such as Microsoft Project.&nbsp;Miradi will, however, enable you to&nbsp;undertake essential functions like:</p>
<UL>
  <LI>Have Miradi issue pop-up alerts when specific tasks need to be completed</li> 
  <LI>Plan sequences of tasks working either forwards or backwards in time</li>
  <LI>Assess when specific team members are either over or underscheduled</li> 
  <LI>Enable team members to record their time spent on various activities and then generate timesheets and reports</li> 
  <LI>Maintain a chronological history of project work and milestones</LI></UL>

