<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<FONT face=Arial size=3></FONT>
<P><B><FONT color=#000000 size=5>Exporting and Importing from Miradi&nbsp;- 
Preview of Coming Attractions</FONT></B></P>
<P><FONT face=Arial>Miradi is stand-alone desktop software.&nbsp; But we 
recognize that project teams will need to both import data from and export data 
to many different sources.&nbsp; Some of the key functions we hope to create 
include:</FONT></P>
<H3>
<HR>
Configure Export</H3>
<P><FONT face=Arial>This command will enable you to define what parts of your 
project file you want to share with other people.&nbsp; For example, when 
uploading your project to a public database, you may wish to not upload 
financial data or information about the locations of&nbsp;sensitive 
species.</FONT></P>
<P><FONT face=Arial>We hope to make Miradi "fully granular" in configuring what 
to export.&nbsp; We also will provide a way to encrypt or otherwise protect 
sensitive information.&nbsp; Benetech has lots of experience with this sort of 
requirement from its work with the Martus Human Rights software.</FONT></P>
<H3>
<HR>
Export</H3>
<P><FONT face=Arial>This command will enable you to export your data to many 
different sources.&nbsp; For example, you might wish to export:</FONT></P>
<UL>
  <LI><FONT face=Arial><STRONG>Financial Data</STRONG> - You might want send 
  your budget or actual expenditures on a quarterly basis to your organization's 
  accounting system, thus keeping the bean counters happy.&nbsp;</FONT> 
  <LI><FONT face=Arial><STRONG>Project Summary Data&nbsp;</STRONG>- You might 
  also want to regularly upload your project's summary data to your 
  organization's database of projects.&nbsp; Imagine the convenience of not 
  having to "double-enter" information into a website, but instead having it 
  come straight from the software you are already using to manage your 
  project.</FONT> 
  <LI><FONT face=Arial><STRONG>Donor Applications and Reports</STRONG> - Most 
  conservation projects have to write half-a-dozen or more funding proposals 
  each year, and even more reports on the grants that they 
  have.&nbsp;&nbsp;Typically these&nbsp;applications and reports require similar 
  data (project goals, objectives, monitoring results), but in different 
  formats.&nbsp; If we can get pre-load the templates for the applications 
  and&nbsp;reports&nbsp;for major donors into Miradi, it should be possible to 
  then export your project information into a word&nbsp;processor file that can 
  then be lightly edited and sent to the donors.&nbsp; And just maybe someday, 
  we can even convince some donors to directly 
  accept&nbsp;Miradi&nbsp;Project&nbsp;files as&nbsp;reports 
  themselves!&nbsp;</FONT> 
  <LI><FONT face=Arial><STRONG>Project Results and Lessons Learned</STRONG> - 
  There are many project teams around the world who undoubtedly could benefit 
  from your experiences and the lessons you have learned.&nbsp; We hope to 
  create a series of linked databases that would then house information 
  contributed by projects from around the world.&nbsp; These databases would be 
  the ultimate foundation for cross-project learning.</FONT></LI></UL>
<H3>
<HR>
Import</H3>
<P><FONT face=Arial>This command will enable you to import data&nbsp;from many 
different sources.&nbsp; For example, you might wish to import:</FONT></P>
<UL>
  <LI><FONT face=Arial><STRONG>Basic Project Information</STRONG> - Information 
  from another program.</FONT></LI>
  <LI><FONT face=Arial><STRONG>Financial Data</STRONG> - Budget information from 
  an Excel spreadsheet.</FONT></LI>
  <LI><FONT face=Arial><STRONG>Maps</STRONG> - Base geographical maps created in 
  a GIS program.</FONT></LI></UL>
