<!--
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>

<h3>Navigation Hints for the Summary View and the Overall Application</h3>

<strong>Summary View</strong>

<br>The first few tabs in the Summary View contain basic information fields that most projects will want to fill in about their project, team, scope, location, and planning. This basic information will be especially important when you export your project to various reports and databases. Some organizations also have their own custom data fields for their projects. You can find these by clicking on the appropriate tab. 

<p><strong>Overall Application</strong></p>
All views have an interview pane on top and an action pane below. Use the <code class='toolbarbutton'>&lt;Previous&gt;</code> and <code class='toolbarbutton'>&lt;Next&gt;</code> buttons to <strong>move backwards and forward</strong> through the interview. <strong>You can resize or hide the interview pane</strong> by using the splitter and/or arrows. In many dialog boxes, you can use the <code class='toolbarbutton'>&lt;Instructions&gt;</code> button at the bottom left to <strong> go the appropriate interview page.</strong> You can also often use the right (alt) mouse button to get context sensitive menu commands (Mac users with one button mice can hold the Ctrl key while clicking). Use the buttons on the upper right to see a <strong>dashboard</strong> overview of your project or to get context sensitive 
<strong>additional information, examples</strong>, and <strong>workshop hints</strong>.</p>

<p>
Note that the program automatically saves all changes so there is no &quot;save&quot; command.  You can save a copy under a different name using the <code class='toolbarbutton'>&lt;File/Save&nbsp;As&gt;</code> menu command. Click on the <code class='toolbarbutton'>&lt;File/How&nbsp;To&nbsp;Save&gt;</code> menu command to get more details about saving files in Miradi.</</p>

<p>Data fields with blue text on a white background have user-entered and editable data. Data fields with black text on a grey background have read-only data that has been entered (and generally can be edited) elsewhere in the application. You can also now right click (Ctrl-click in Mac) in any multi-line data field to get basic text formatting commands such as bold, italic, or to insert a hyperlink.</p> 

<p></p>
<table width='100%'><tr><td align='center'>
<img src='images/SummaryWizard/nav_overview1.png' width='500' height='386'></img>
</td></tr></table>
</div>

