<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

A project's <i>scope</i> is the broad focus of the project. Projects focused on the biodiversity of a specific place have a geographic scope (project area), such as a national park or tribal fishing grounds. In some cases, you may need to define your biodiversity targets before coming to a final decision about the geographic boundaries of your project. If you are working in a watershed, for example, you may be interested in conserving a forested area that stretches from 
your watershed into a neighboring basin. In this case, the definition of your targets would cause you to extend the geographic boundaries of your project scope.

<p>Other projects have a thematic scope, with a focus on a population of wide ranging animals, such as migratory birds, mammals or sea turtles, or a focus on certain ecological systems, such as forests, or issues such as illegal trade of rare and endangered species or poverty.</p>

<p>Miradi now also supports the ability to have both a biological/conservation scope and a human social scope.</p>  

<p>If there is any doubt about the basic scope of your project, then discuss the options with the members of your project team and see if you have at least a general consensus. If you can't arrive at some basic consensus, then you need to seriously reconsider whether you should split into multiple projects.</p>
</div>

