<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class='navigation'>

A <i>vision statement</i> is a general summary of the desired state or ultimate condition of the project area that a project is working to achieve. A good vision statement meets the criteria of being: 
<lu>
<li><strong>Relatively General -</strong> Broadly defined to encompass a broad range of potential project activities.</li>
<li><strong>Visionary -</strong> Inspirational in outlining the desired change in the state of the targets toward which the project is working.</li>
<li><strong>Brief -</strong> Simple and succinct so that all project participants can remember it.</li>
</lu>
</div>

