<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

The first step in the project cycle involves specifying who will be on the <a href='Definition:InitialProjectTeam' class='definition'>initial project team</a>.

<p>To develop your team, click on the <code class='toolbarbutton'>&lt;Team&gt;</code> tab and then click the <code class='toolbarbutton'>&lt;Create&nbsp;Member&gt;</code> button to create a record for your first team member. You can then fill in the appropriate fields for this member in the bottom panel. Fields include:
<li><strong>Team Member</strong> - The name of the team member including given (first) name, surname, and the team member's initials or an abbreviation for their position.</li>
<li><strong>Roles</strong> - The roles that the person plays on the team. All people assigned on this page will automatically be team members.</li>
<li><strong>Organization / Position / Location / Phone / Email / IM Address</strong> - Information about the team member.</li>
<li><strong>Date Updated</strong> - The date of the most recent update of this information.</li>
<li><strong>Comments</strong> - Any comments about this team member.</li>
<li><strong>CCN Coach</strong> - Whether this person is part of the <A 
href="http://www.conservationgateway.org/ConservationPlanning/ActionPlanning/Network/Pages/conservation-coaches-netw.aspx"><U><FONT 
color=#0000ff>Conservation Coaches Network</U></FONT></A>.</li>
<li><strong>Custom</strong> - Fields that your organization can use as desired.</li></ul>

When you are done, you can click the <code class='toolbarbutton'>&lt;Create&nbsp;Member&gt;</code> button again to create a new record and add other team members as necessary. In this view, as in all Miradi tables, the panel at the bottom displays the information for the table row that is highlighted on top. Click the <code class='toolbarbutton'>&lt;Next&gt;</code> button when you are done entering all team members. If necessary, you can also click the <code class='toolbarbutton'>&lt;Remove&nbsp;Member&gt;</code> button to delete the highlighted row of the table.</p>

<p>Note that team members often include people from other organizations. In some cases, team members/human resources are not just one person, but rather a sub-team or class of individuals - for example, a biological monitoring team.</p>