<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Click on the <code class='toolbarbutton'>&lt;Scope&gt;</code> tab and add your project's 
<a href='Definition:Scope' class='definition'>scope</a> to the appropriate fields. The <strong>Scope/Site Name</strong> field should contain a 3-5 word summary title of your scope. The <strong>Scope/Site Description</strong> field should contain the complete description of your project's scope. The <strong>Scope Boxes</strong> fields provide read-only details of any additional scope boxes you may have created in the <code class='toolbarbutton'>&lt;Diagram View&gt;</code>.

<p class='nextsteps'>Click next to define your project's vision.</p>

<p>You can also fill out the remaining fields on the side tabs on this page if desired, especially if this information will be helpful to have in reports generated from your Miradi file.</p>

<p>The first set of fields describes the <b><i>Biodiversity Features</i></b> of your project site:<ul>
<li><strong>Biodiversity Area</strong> is used to record the area of the biological systems of interest at your project site. You can also record any <b>Notes</b> about the area.</li>
<li><strong>IUCN Red List Species</strong> is used to list any endangered or threatened species found at your project site.</li>
<li><strong>Other Notable Species</strong> can be used to record any additional species that you want to note.</li></ul>

<p>The second set of fields describes the <b><i>Human Stakeholders</i></b> at your project site:
<ul>
<li><strong>Human Stakeholder Pop Size</strong> refers to the number of people within the scope of the project, while the <strong>Notes</strong> field can be used to record any detail about how you define these stakeholders. 
<li><strong>Social Context</strong> can be used to record any additional information about the human systems at the site.</li></ul>

<p>The final set of fields can be used to describe the features of your site if it is a formal <b><i>Protected Area</i></b>.<p>