<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

Click on the <code class='toolbarbutton'>&lt;Scope&gt;</code> tab and add your project's 
<a href='Definition:Vision' class='definition'>vision statement</a> to the <strong>Vision Statement Text</strong> field. Review the criteria for a good vision statement and revise your statement as necessary.

<p>If desired, you can also click on the <code class='toolbarbutton'>&lt;Location&gt;</code> and the <code class='toolbarbutton'>&lt;Planning&gt;</code> tabs to add additional detail about your project.</p>

<p>In addition, Miradi also has tabs for some organizations that contain additional organizational specific fields.  These fields are especially for key data that will be used in reports and uploads to organizational databases. Contact your organization's Miradi lead for more information.</p><p> If your organization would like to develop its own fields, contact Miradi staff at  <a href="mailto:info@miradi.org">info@miradi.org</a>.</p>