<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<div class='navigation'>
Successful conservation depends on forging effective partnerships with key stakeholders. Most conservation projects will probably not have sufficient expertise or internal resources to do all the work that needs to be done on their own.  Furthermore, most if not all projects need to ensure that the work that they start will continue after the initial project ends.

<p>To ensure sustainability of the work, you will need to mobilize effective participation and information-sharing with these partners both throughout and beyond the life of the project. This means developing partnerships early on, revisiting them as you move through the cycle, formalizing them as appropriate, and working to maintain positive, supportive relationships.</p>
