<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<h3>Welcome to the Miradi Interview & the Summary View!!</h3>

As you go through the steps in the <A 
href="http://www.ConservationMeasures.org"><U><FONT 
color=#0000ff>CMP Open Standards</U></FONT></A>, this leftside panel of the interview will provide you with step-by-step instructions. The rightside panel will provide definitions and guidance.

<p>The <code class='toolbarbutton'>&lt;Project&gt;</code> tab below provides an overview of your <a href='Definition:Project' class='definition'>project</a>. You can fill in your <b>Project Name</b> and set the <b>Primary Project Data Language</b> and the <b>Project Data Effective Date</b> (the date of your most recent substantive updating of the Miradi project file).</p>

<p>A new feature of Miradi 4.1 is that is now compatible with <b>Miradi Share</b>! Click on the "Learn about Miradi Share" link or go to <A href="http://www.miradishare.org"><U><FONT 
color=#0000ff>www.miradishare.org</U></FONT></A> to find out more about this new online tool that greatly extends the capability of Miradi Software.

<p class='nextsteps'>Click next to define your initial project team.</p>

<p>Later on, you can return to this page and fill in the remaining fields.The <b>Project Number</b> field can be used for any numbering system your organization uses. <b>Related Projects</b> can be used to describe other sibling or parent projects. You can put your project's website adress in the <b>Project Website</b> field. The <b>Project Description</b> field can be used for a summary or abstract of your project. The <b>Project Status</b> field can be used to generally describe how your project is doing at the moment. The <b>Next Steps</b> field can be used to describe any critical next steps; this field is especially useful when you want to send your project file to other team members. Finally, the <b>Lessons Learned</b> field can be used to descibe any key learnings.</p> 

<p class='hint'><strong>Hint:</strong> Note that <b>Project Filename</b> is read only as shown by the grey background. To change what appears in this field, you have to rename the project file itself. This can be done from the initial Welcome (No-Project) page.</p>

<p class='hint'><strong>Hint:</strong> The <b>External Project IDs</b> field is another read only field used by external databases such as Miradi Share.</p>