<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class='navigation'>
Conservation does not happen on its own. The most important resources for any conservation project are the people who will be involved in designing and implementing it. Their commitment and skills will influence how effective the project can be. Your project team's membership will likely change over time. It is often helpful to think about:
 
<ul>
<li><strong>Initial Project Team -</strong> The people who conceive of and initiate the project.</li><br>
<li><strong>Core Project Team -</strong> A small group of people (typically 3-8 people) who are ultimately responsible for designing and managing a project.</li><br>
<li><strong>Full Project Team -</strong> The complete group of people involved in designing, implementing, monitoring, and learning from a project. This group can include managers, stakeholders, researchers, and other key implementers.  
You need a wide range of skills on your project team. Project team members should include representatives from the primary organization implementing the project, but ideally will include other partners as well.</li>
</ul>

<p>Within your project team, there are also a number of different roles to consider. Some of the most common roles include:</p>
<ul>
<li><strong>Project Leader/Manager -</strong> Although leadership responsibilities are often shared between team members, normally one individual is appointed as the overall project leader. Specific roles that the leader often plays include managing the performance of other team members, relations with key stakeholders, and the process of going through the project cycle.</li><br>
<li><strong>Process Facilitator -</strong> A process facilitator is a person who can help the project team through 
the planning process. A process facilitator is typically part of the initial and/or the core team. A good facilitator understands the key elements of the process, has good facilitation skills, and can keep your team from getting too bogged down in any one part of the process. This person does not need to be a &quot;professional&quot; facilitator, but should be someone who is intimately familiar with applying the planning process to &quot;real-world&quot; conservation problems.</li><br>
<li><strong>Primary Contact -</strong> The person(s) that people outside the project team should contact to learn 
more about the project.</li>
</ul>
These roles can be assigned to one person, or to different people as needed. Two other groups of people to consider are:
<ul>
<li><strong>Project Advisors -</strong> People who are not on the project team, but to whom the team members can turn 
for honest feedback and counsel and who can champion your cause.</li><br>
<li><strong>Project Stakeholders -</strong>  Individuals, groups, or institutions who have a vested interest in the natural resources of the project area and/or who potentially will be affected by project activities and have something to gain or lose if conditions change or stay the same. Just because someone is a stakeholder does not mean that you will want them on your project team. But if they are a key stakeholder, you also cannot ignore them in your analyses of the situation.</li>
</ul>
</div>



