<!-- 
Copyright 2005-2013, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

In addition to the individuals on your project team and the organizations they represent, you may also want to consider the other organizations that you are partnering with on your project.

<p>To record these other partner organizations, click on the <code class='toolbarbutton'>&lt;Other&nbsp;Orgs&gt;</code> tab and then click the <code class='toolbarbutton'>&lt;Create&nbsp;Organization&gt;</code> button to create a record for your first partner. You can then fill in the appropriate fields for this organization in the bottom panel. Fields include:

<ul><li><strong>Organization Name</strong> - The name of the partner organization including its full name, and if needed, a shorter acronym or abbreviation.</li>
<li><strong>Role(s)</strong> - The role or roles that this organization plays in the project.</li>
<li><strong>Org Contact: Given Name / Surname / Email / Phone</strong> - Information about the individual who represents the organization.</li>
<li><strong>Comments</strong> - Any comments about this partner organization.</li></ul>

When you are done, you can click the <code class='toolbarbutton'>&lt;Create&nbsp;Organization&gt;</code> button again to create a new record and add other partner organizations as necessary. In this view, as in all Miradi tables, the panel at the bottom displays the information for the table row that is highlighted on top. Click the <code class='toolbarbutton'>&lt;Next&gt;</code> button when you are done entering all other partner organizations. If necessary, you can also click the <code class='toolbarbutton'>&lt;Delete&nbsp;Organization&gt;</code> button to delete the highlighted row of the table.



